@import '../../../extends';
@import '../../../variables';

/*----------------------Media Query---------------------*/
 
/*    Device = Most of the Smartphones Mobiles (Portrait)  Screen = B/w 320px to 479px  */

@media screen and (max-width: 1279px) and (min-width: 320px) {
    .on-boarding-login-layout {
        .on-boarding-login-body {
            .login-card-container{
                width: 90% !important;
                margin: 0 auto !important;
                .click-here-login-arrow-container {
                    display: none;
                }
            }

        }
    }
}




.on-boarding-login-layout {
    // height: 100%;
    user-select: none;
    width: 100%;
    box-sizing: border-box;
    .on-boarding-login-body {
        height: 85vh;
        // border: 1px solid red;
        box-sizing: border-box;
        // display: flex;
        align-items: center;
        justify-content: center;
        .alert-dismissible .close {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 3px 10px 3px 3px;
        }
        .login-card-container{
            // border: 1px solid purple;
            height: 100%;
            margin: auto;
            margin: 0% 37.5% 0 37.5%;
            width: 25%;
            .fullwid{
                width:100%;
                
            }
            .sign-in-heading {
                margin-top: 7.8%;
                font-family: helveticaNeueCondensedBold;
                font-size: 2.8125rem;
                font-stretch: condensed;
                font-style: normal;
                line-height: 0.89;
                letter-spacing: 0.9px;
                text-align: left;
                color: #656565;
                text-align: center;
            }
            .sign-in-sub-heading{
                margin-top: 0.5%;
                @extend %d-flex-align-justify-center;
                font-size: 18px;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.11;
                letter-spacing: 0.36px;
                text-align: center;
                color: #656565;

            }
            // .on-boarding-input-field {
            //     width: 100%;
            //     margin: 0;
            //     height: 7.5%;

            //     .MuiFormLabel-root.Mui-focused {
            //         color: #656565;
            //     }
            //     .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
            //         border-color: #656565;
            //         border-width: 1px;
            //         margin: 0;
            //     }

            //     .MuiInputLabel-outlined {
            //         z-index: 1;
            //         transform: translate(26px, 28px) scale(1);
            //         pointer-events: none;
            //     }
            //     .MuiInputLabel-shrink {
            //         transform: translate(20px, 1px) scale(0.75);
            //         transform-origin: top left;
            //     }
            //     .MuiFormLabel-root{
            //         font-size: 1.375rem;
            //         background: #FFFFFF;
            //         padding: -4% 0% 0% 0%;
            //         top:-10px !important;
            //     }
                
            //     .MuiFormControl-root{
            //         .MuiInputLabel-formControl{
            //             top: -10 !important;
            //         }
            //     }


            //     .MuiInputBase-root {
            //         border-radius: 50px;
            //         input {
            //             display: flex;
            //             align-items: center;
            //             justify-content: center;
            //             // padding: 33.3vh 8.5%;
            //             font-family: helveticaNeueLight;
            //             // padding: 28px 40px;
            //             // padding: 7% 0% 7% 0%;
            //             font-size: 1.375rem;
            //             font-stretch: normal;
            //             font-style: normal;
            //             line-height: 1.18;
            //             letter-spacing: normal;
            //             text-align: left;
            //             color: #656565;
            //         }
            //     }

            // }
            .sign-up-email-container {
                margin: 4.4% 0 0 0;
                position: relative;
                i {
                    position: absolute;
                    top: 19px;
                    right: 26px;
                    font-size: 1.8rem;
                    color: $color-errorPopUpColor;
                }
                img {
                    position: absolute;
                    top: 18px;
                    right: 25px;
                    font-size: 1.5rem;
                    color: #fd673a;
                    width: 20px;
                    height: 20px;
                }
                .error-email-popup {
                    position: absolute;
                    height: 80%;
                    width: 40%;
                    border-radius: 10px;
                    right: -41%;
                    top: -2px;
                    padding: 10px 8px 10px 5px;;
                    display: flex;
                    color: $color-errorPopUpColor;
                    text-align: left;
                    box-shadow: 0px 0px 15px #00000029;
                    align-items: center;
                    justify-content: center;
                }
                .error-email-popup::before {
                    content: '';
                    width: 0;
                    height: 0;
                    position: relative;
                    left: -13%;
                    border-top: 10px solid transparent;
                    border-bottom: 0px solid transparent;
                    border-right: 10px solid #FFFFFF;
                }
                .error-valid-email-popup {
                    position: absolute;
                    height: 100%;
                    width: 45%;
                    border-radius: 10px;
                    right: -46%;
                    top: -6px;
                    padding: 10px 0px 10px 0px;;
                    display: flex;
                    color: $color-errorPopUpColor;
                    text-align: left;
                    box-shadow: 0px 0px 15px #00000029;
                    align-items: center;
                    justify-content: center;
                }
                .error-valid-email-popup::before {
                    content: '';
                    width: 0;
                    height: 0;
                    position: relative;
                    left: -5%;
                    border-top: 10px solid transparent;
                    border-bottom: 0px solid transparent;
                    border-right: 10px solid #FFFFFF;
                }
            }
            .sign-up-password-container {
                margin: 2.8% 0 2.9% 0;
                .show-password-eye {
                    color: $color-borderLightGray;
                    cursor: pointer;
                    right: 34px;
                }
                i {
                    position: absolute;
                    top: 26px;
                    right: 25px;
                    font-size: 1.7rem;
                    color: $color-errorPopUpColor;
                }
                .error-password-popup {
                    position: absolute;
                    height: 80%;
                    width: 40%;
                    border-radius: 10px;
                    right: -41%;
                    top: 2px;
                    padding: 10px 0px 10px 0px;
                    display: flex;
                    color: #fd673a;
                    text-align: left;
                    box-shadow: 0px 0px 15px #00000029;
                    align-items: center;
                    justify-content: center;
                    font-size: 14px;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.22;
                    letter-spacing: normal;
                    font-family: "helveticaNeueLight";
                }
    
                .error-password-popup::before {
                    content: '';
                    width: 0;
                    height: 0;
                    position: relative;
                    left: -46px;
                    border-top: 10px solid transparent;
                    border-bottom: 0px solid transparent;
                    border-right: 10px solid #FFFFFF;
                }
                .error-password-required-popup {
                    position: absolute;
                    // height: 100px;
                    // width: 200px;
                    height: 80%;
                    width: 48%;
                    border-radius: 10px;
                    // right: -208px;
                    // top: -20px;
                    right: -49%;
                    top: -0px;
                    padding: 10px 5px 10px 0px;
                    display: flex;
                    color: $color-errorPopUpColor;
                    text-align: left;
                    box-shadow: 0px 0px 15px #00000029;
                    align-items: center;
                    justify-content: center;
                    font-size: 14px;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.22;
                    letter-spacing: normal;
                    font-family: "helveticaNeueLight";
                }
    
                .error-password-required-popup::before {
                    content: '';
                    width: 0;
                    height: 0;
                    position: relative;
                    left: -9%;
                    border-top: 10px solid transparent;
                    border-bottom: 0px solid transparent;
                    border-right: 10px solid $color-white;
                }
            }
            .sign-up-field-radio {
                display: flex;
                justify-content: space-between;
                margin-top: 2.9%;
                .radion-btn-and-label {
                    display: flex;
                    align-content: center;
                    color: rgb(122, 201, 255);
                    .MuiButtonBase-root {
                        border: transparent;
                        padding: 0;
                        margin: 0;    
                        .MuiIconButton-label {
                            div {
                                svg {
        
                                }
                            }
                        }
                    }
                    .remember-me {
                        font-family: helveticaNeueLight;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.13;
                        letter-spacing: normal;
                        text-align: left;
                        margin: 8px 0px 0 5px;
                        color: #696969;
                    }
                }
            }
            .forgot-password-link {
                margin-top: 6px;
                nav {
                    a {
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.13;
                        letter-spacing: normal;
                        text-align: right;
                        color: #696969;
                    }
                }
            }
















            .login-btn-field{
                height: 7.6vh;
                width: 100%;
                position: relative;
                margin: 4.4% 0 0 0;
                .MuiButton-outlined {

                    .MuiButton-label {
                        height: 100%;
                        font-size: 1.375rem;
                        font-family: helveticaNeueMedium;
                        font-weight: 500;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.18;
                        letter-spacing: normal;
                        text-align: left;
                        color: #ffffff;
                        .login-spinner {
                            height: 60px;
                            width: 60px;
                        }
                    }
                }
            }
            .click-here-login-arrow-container{
                position: absolute;
                cursor: default;
                right: -143px;
                top: -20px;
                text-align: left;
                width: 130px;
                
                img {
                    width: 30px;
                    padding-left: 0px;
                    padding-bottom: 10px;
                    cursor: default;
                }
                p {
                    font-size: 1.125rem;
                    color: #c8c8c8;
                    text-align: right;
                }
            }
            .sign-in-button {
                width: 100%;
                height: 100%;
                border-radius: 100px;
                border: solid 1px #e2e6ea;
                background-color: #41e590;
            }
            .sign-up-or-seperator {
                display: flex;
                justify-content: center;
                align-items: center;
                color: $color-thickGray;
                margin-top: 4.2%;
                hr {
                    background: rgb(230, 230, 230);
                    width: 50%;
                }
                span {
                    font-size: 1.375rem;
                    font-family: helveticaNeueLight;
                    padding: 0 9px;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.18;
                    letter-spacing: normal;
                    text-align: left;
                    color: #656565;
                    cursor: default;
                }
            }

            .sigh-up-with-google-button {
                width: 100%;
                height: 6.6vh;
                margin-top: 4.1%;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #c8c8c8;
                border-radius: 100px;

                button {
                    height: 6.6vh;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-shadow: none !important;
                    border-radius: 36px !important;
                    border: solid 1px #c8c8c8 !important;
                    background-color: #ffffff !important; 
                    font-size: 1.375rem !important;
                    padding: 0 !important;
                    div {
                        padding: 0 !important;
                    }
                    span {
                        font-family: helveticaNeueLight;
                        font-size: 1.375rem !important;
                        font-weight: 300;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.23;
                        letter-spacing: normal;
                        text-align: left;
                        color: #656565;
                        padding: 0 !important;
                    }
                }
            }
            .login-bottom-text {
                margin: 6.9% 0 8.1% 0;
                cursor: default;
                p {
                    font-size: 1.125rem;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.17;
                    letter-spacing: normal;
                    text-align: left;
                    color: #656565;
                }
                nav > a {
                    font-size: 1.125rem; 
                    font-family: helveticaNeueMedium;
                    font-weight: 300;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.17;
                    letter-spacing: normal;
                    text-align: left;
                    color: #7ac9ff;
                }
            }
        }
    }
}

