@import '../../variables';

.forgot-password-page {
  height: 100%;

  .user-header-logo {
    .MuiAppBar-root {
      .MuiToolbar-root {
        display: flex;
        justify-content: space-between;
      }
    }

    .MuiAppBar-colorPrimary {
      background-color: $color-lightWhite;
    }

    .MuiPaper-elevation4 {
      box-shadow: none;
    }
  }
}

.user-logo {
  width: 25px;
}

.user-container {
  text-align: center;
}

.user-fields {
  flex-direction: column;
}

.user-container-text {
  padding-right: 0px;
  margin-top: 6%;

  p {
    // margin-bottom: 0rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.user-container-text-one {
  font-size: 25px;
  font-weight: bolder;
  color: $color-thickGray;
  margin-top: 2%;
  font-family: 'helveticaNeueCondensedBold'
}

.user-container-text-two {
  // font-size: 12px;
  // color: gray;
  text-align: center;

  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: 0.36px;
  text-align: center;
  color: #c8c8c8;

}

.text-three {
  p {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .user-container-text-three {
    text-align: center;
    height: 75px;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.36px;
    text-align: center;
    color: $color-lightGray;
  }
}

.Click-here-to-recover-password {
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: $color-lightGray;
  padding-left: 3px;
}

.forgot-password-page {
  .password-field-one {
    margin-top: 3%;
    height: 50px;
    text-align: center;
    position: relative;
    width: 24%;
    margin: auto;

    i {
      position: absolute;
      // top: 16px;
      top: 18px;
      right: 10px;
      font-size: 1.3rem;
      color: $color-errorPopUpColor;
    }

    .error-correct-email-popup {
      position: absolute;
      height: 100%;
      width: 45%;
      border-radius: 10px;
      right: -47%;
      top: -6px;
      padding: 10px 0px 10px 0px;
      display: flex;
      color: $color-errorPopUpColor;
      text-align: left;
      box-shadow: 0px 0px 15px #00000029;
      align-items: center;
      justify-content: center;
    }

    .error-correct-email-popup::before {
      content: '';
      width: 0;
      height: 0;
      position: relative;
      left: -5%;
      border-top: 10px solid transparent;
      border-bottom: 0px solid transparent;
      border-right: 10px solid #FFFFFF;
    }

    .err-email-popup {
      position: absolute;
      height: 100%;
      width: 70%;
      border-radius: 10px;
      right: -72%;
      top: -6px;
      padding: 10px 0px 10px 0px;
      display: flex;
      color: $color-errorPopUpColor;
      text-align: left;
      box-shadow: 0px 0px 15px #00000029;
      align-items: center;
      justify-content: center;
    }

    .err-email-popup::before {
      content: '';
      width: 0;
      height: 0;
      position: relative;
      left: -5%;
      border-top: 10px solid transparent;
      border-bottom: 0px solid transparent;
      border-right: 10px solid #FFFFFF;
    }

    .MuiInputBase-root {
      width: 100%;
      border: 1px solid $color-lightGray;
      height: 50px;
      border-radius: 25px;

      .MuiInputBase-input {
        padding: 6px 15px 7px;
      }
    }
  }
}



.password-field-two {
  .MuiButton-outlined {
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 50px;
    background-color: $color-white;
    color: $color-white;
    border: 1px solid $color-lightGray;
    width: 24.4%;
    height: 50px;
    margin-top: 2%;
    // margin-left: 490px;
    text-transform: capitalize;
    background-color: $color-green;
    font-weight: 600;
    position: relative;
  }

  .request-text {
    position: absolute;
    left: 62%;
    padding-bottom: 30px;
    padding-left: 0px;
  }

  .MuiButton-outlinedPrimary:hover {
    background-color: $color-green;
    color: $color-white;
    border: none;
  }

  Button {
    align-self: flex-start;
    justify-content: flex-start;
  }

  button {
    .MuiButton-label {
      span {
        img {
          width: 26px;
          padding: 100px;
        }
      }
    }
  }

  // .MuiButton-outlined.Mui-disabled {
  //   border: 0px solid rgba(0, 0, 0, 0.26);
  // }
}



.password-field-two {
  span {
    img {
      width: 30px;
      // padding-left: -1px;
      padding-top: 5px;
      padding-left: 5px;

    }
  }
}

.password-field-two {
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;

  p {
    margin-top: -12%;
    // margin-left: 64%;
    font-size: 12px;
    color: $color-lightGray;
  }

  .Mui-disabled {
    background-color: $color-lightGray;

    .MuiButton-label {
      color: $color-white;
    }
  }
}


.bottom-text1 {
  p {
    text-align: center;
    margin-top: 7%;
    color: $color-skyBlue;
  }
}

.Forgot-bottom-text {
  margin-top: 2%;
  text-align: center;

  nav {
    a {
      text-align: center;
      margin-top: 7%;
      color: $color-skyBlue;
      font-size: 15px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      font-family: "helveticaNeueLight";
      line-height: 1.22;
      letter-spacing: normal;
    }
  }
}


li {
  padding-right: 20px;
}

.password-field-two {
  .MuiButton-root {
    .MuiButton-label {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.18;
      letter-spacing: normal;
      font-family: "helveticaNeueLight";
    }
  }
}

.forgot-password-footer-container {

  position: fixed;
  bottom: 0px;
  width: 100%;

  .forgot-password-left-container {
    width: 50%;
    color: $color-lightGray;
    font-size: 15px;
    font-weight: 300;

    p {
      padding-left: 10px;
      font-size: 15px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      font-family: "helveticaNeueLight";
    }
  }

  .forgot-password-right-container {
    width: 50%;
    display: flex;

    .forgot-list {
      display: flex;
      list-style: none;

      a {
        li {
          font-size: 15px;
          color: $color-lightGray;
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.2;
          letter-spacing: normal;
          font-family: "helveticaNeueLight";
        }
      }
    }
  }
}

.click-here-to-recover-password {
  // position: absolute;
  // left: 63%;
  // bottom: 38%;
}