@import '../../variables';
@import '../../extends';

$borderRadius: 100px;
$lightGrayDashedBorder: 1px dashed $color-lightGray;
$lightGraySolidBorder: 1px solid $color-lightGray;
$elementsBgColor: #FFFFFF;


%d-flex {
  display: flex;
} 
%d-flex-align-center {
  @extend %d-flex;
  align-items: center;
}
%d-flex-space-btwn {
  @extend %d-flex;
  justify-content: space-between;
}
%d-flex-align-justify-center {
  @extend %d-flex-align-center;
  justify-content: center;
}
%d-flex-align-center-space-btwn {
  @extend %d-flex-align-center;
  justify-content: space-between;
} 
%subHeading {
  font-size: 1.15rem;
  font-family: 'helveticaNeueCondensedBold';
  font-stretch: normal;
  font-style: normal;
  color: $color-lightViolet;
  font-weight: 600;
  text-transform: uppercase;
}
%popupCmnProperiets {
  position: absolute;
  padding: 10px;
  z-index: 100;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  background: $elementsBgColor;
}
%multi-select-custom {
  
  .MuiInput-underline:before {
    border: 0;
  }
  .MuiInput-underline:after {
    border: 0; 
  }
  .MuiInputLabel-formControl {
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(14px, 14px) scale(1);
  }
  .MuiInputLabel-shrink {
    transform: translate(24px, -6.5px) scale(0.75);
    transform-origin: top left;
  }
  .MuiInputBase-root {
    margin: 0;
    height: 50px;
    .MuiSelect-root {
      margin-left: 24px;
    }
    .MuiSvgIcon-root {
      margin-right: 10px;
    }
  }
}
 
@mixin heighWidth($heigh, $width) {
  height: $heigh;
  width: $width;
}
@mixin placeholder($background, $position, $repeat, $size) {
  background: $background;
  background-position: $position;
  background-repeat: $repeat;
  background-size: $size;
}
.flex-container {
  @extend %d-flex-align-center-space-btwn;
  margin: 2% 0;
}
.create-habit-footer-section {
  user-select: none;
  border-top: $lightGraySolidBorder;
  @extend %d-flex-space-btwn;
  width: 80%;
  margin: auto;
  padding: 25px;
  div:first-child {
    @extend %d-flex-align-center;
    .Save-as-an-Idea-checkbox {
      padding: 0;
      margin-left: 5px;
      width: 20px;

      span {
        svg {
          width: 20px;
        }
      }
    }
  }
  .ch-submit-button {
    background-color: #41E590;
    box-shadow: none;
    border-radius: 100px;
    padding: 15px;
    width: 25%;
    margin-right: 6%;
    color: $elementsBgColor;

    span {
      text-transform: capitalize;
      font-size: 1.2rem;
    }
  }

}
.create-habit-layout {
  user-select: none;
  width: 80%;
  height: 100%;
  padding-top: 5%;
  margin: 0 auto auto auto;
  @extend %d-flex-space-btwn;
  position: relative;
  .create-habit-close-icon {
    cursor: pointer;
    position: absolute;
    top: 11%;
    left: -9%;
  }
  


//   .create-ticket-drawer-body-right{
//     width: 100%;
// }

.create-ticket-drawer-company-details {
  width: 90%;
  height: 90px;
  border: 1px dashed $color-violet;
  margin: 5% auto;
  border-radius: 8px;
}

// .create-ticket-drawer-company-text {
//     p {
//         margin-top: 0px !important;
//         margin-bottom: 0px !important;
//         margin-left: 5px !important;
//     }
//     .create-ticket-drawer-company-text-one{
//         font-size: 18px;
//         font-weight: bolder;
//         color: $color-thickGray;
//     }
//     .create-ticket-drawer-company-text-two{
//         font-size: 14px;
//         color: $color-lightGray;
//     }
//     .create-ticket-drawer-company-details-edit{
//         padding-right: 15px;
//     }
// } 

.create-ticket-drawer-assign-to{
    width: 80%;
    height: 40px;
    margin: 5% auto;
    .MuiFormControl-root{
        width: 100%;
        height: 40px;
        .MuiInputLabel-formControl{
            top: -14px!important;
            left: 14px!important;
            font-size:18px;
            font-weight: 300;
            .MuiFormLabel-asterisk{
                // color:$color-red;
                display: none;
            }
        }
        .MuiInputBase-root{
            margin-top: 0px!important;
            .MuiSelect-select{
                padding-left: 10px;
                color: $color-thickGray;
            }
            .MuiSelect-icon{
                right:12px;
            }
        }
        .MuiInput-underline:before{
            border-bottom: none!important;
        }
        .MuiInput-underline:after{
            border-bottom: none!important;
        }
        .MuiInput-underline{
            border: 1px dashed $color-borderLightGray;
            border-radius:  20px; 
            height: 40px;
        }
    }

}


  .create-habit-main-section {
    width: 65%;
    position: relative;
    .create-task-header-section{
      @extend %d-flex-space-btwn;
      .task-header-text {
        p:nth-child(1) {
          font-size: 40px;
          font-weight: 900;
          font-stretch: condensed;
          letter-spacing: 0.96px;
          text-align: left;
          color: $color-lightViolet;
          font-family: 'helveticaNeueCondensedBold';
          margin-bottom: 0px!important;
          text-transform: uppercase;
        }
        p:nth-child(2) {
          font-size: 12px;
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          letter-spacing: 0.36px;
          text-align: left;
          color: $color-lightGray;
          font-family: "helveticaNeueLight";
        }
      }
      .quick-create-using-template{
        width: 45%;
        position: relative;
        margin: 0;
        transition: 0.5s;
        .quick-create-template{
            position: relative;
            border: 1px solid #d0cfec;
            height: 50px;
            background: $color-white;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            z-index: 1000;
            .selected-item-container{ 
                // margin-left: 1%;
                width: 85%;
                height: 100%;
                display: flex;
                align-items: center;
                p{
                  color: $color-thickGray;
                  padding-left: 14px;
                  font-weight: 590;
                }
              }
              .quick-drp-dwn-img{
                width: 28px;
                margin-right: 1%;
                display: flex;
                justify-content: center;
                border: 1px dotted #743ad5;
                border-radius: 50%;
                height: 26px;
            }
        }
        .open-dropdown {
            height: 240px;
            overflow: auto;
            padding-top: 40px;
            transition: 0.5s;
            
          }
        .dropdown-menu-container{
            position: absolute;
            border-radius: 20px 20px 5px 5px;
            top: 10px;
            left: 0;
            width: 100%;
            background: $color-white;
            box-shadow: 0 0 30px rgba(131, 131, 131, 0.5);
            z-index: 999 !important;
            transition: 0.5s;
            overflow: hidden;
            .MuiButtonBase-root{
                width: 90%!important;
                margin: 0 auto!important;
                background-color:$color-white!important;
                box-shadow: none!important;
                border-radius: 25px;
                height: 40px;
                min-height: 40px;
                padding: 0px!important;
                min-height: 30px!important;
                // margin: 1% auto;
                
            }
        }
        .quick-create-search-bar{
            width: 85%;
            margin: 10px auto;
            border: 1px solid rgba(78, 88, 169, 0.1);;
            border-radius: 100px;
            .MuiInputBase-root{
                width: 90%;
                .MuiInputBase-input{
                    padding: 6px 10px 7px;
                }
            }
            .MuiSvgIcon-root{
                color: $color-borderLightGray!important;
            }
        }
        .custom-scroll{
            width: 98%!important;
        }
    }
    }    
    .create-habit-title-container {
      @extend %d-flex-align-center-space-btwn;
      border-bottom: $lightGraySolidBorder;
      position: relative;
      .MuiFormControl-root {
        margin-left: 15px;
        font-size: 40px;
        width: 80%;
        .MuiInputBase-root {
          font-size: 2rem;
          font-weight: 600;

        }
        .MuiInput-underline:before {
          border: 0;
        }
        .MuiInput-underline:after {
          border: 0;
        }
      }
      .color-pallet-container {
        position: relative;
        .colorPallet {
          cursor: pointer;
        }
      }
    }    
    .create-habit-start-date {
      width: 49%;
      border-radius: $borderRadius;
      @extend %d-flex-align-center;
      padding: 0 15px;
      border: $lightGraySolidBorder;


      .date-picker-style {
          .react-date-picker__wrapper {
            border: 0;

            .react-date-picker__inputGroup {
              min-width: 0px;
              width: 0;
              flex-grow: 1;
              display: flex;
              padding: 0px 0px;
              align-items: baseline;
              box-sizing: content-box;
              overflow: hidden;
            }

            .react-date-picker__calendar-button {
              background: url('../../assets/create-habit/Icon feather-calendar.svg');
              background-repeat: no-repeat;
              background-size: cover;
              @include heighWidth(27px, 24px);

              svg {
                display: none;
              }
            }

            .react-date-picker__calendar-button:focus {
              border: 0;
            }
          
        }
      }

      .MuiFormControl-root {
        margin: 7px 0 0 13px;
        .MuiInputBase-root {
          color: $color-thickGray;
          font-size: 1.2rem;
          font-weight: 100 !important;
        }
        label {
          color: $color-thickGray;
          font-size: 1.2rem;
          font-weight: 100 !important;
        }
        .MuiInputLabel-formControl {
          top: 0;
          left: 0;
          position: absolute;
          transform: translate(0, 5px) scale(1);
        }
        .MuiInputLabel-animated {
          transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
        }
        .MuiInputBase-root {
          margin: 0%;
        }
        .MuiInput-underline:before, .MuiInput-underline:after {
          border: 0;
        }
      }
    }
    .task-date-time-container {
      @extend %d-flex-align-center;
      margin: 2% 0;
      padding: 2px 2px;
      .task-date-time {
        display: flex;
          #task-datepicket-btn {
            position: relative;
            .react-date-picker {
              position: absolute;
              top: 0;
              .react-date-picker__wrapper {
                border: 0;
                .react-date-picker__inputGroup {
                  min-width: 0;
                  flex-grow: 1;
                  display: flex;
                  padding: 0 2px;
                  align-items: baseline;
                  width: 0;
                  box-sizing: content-box;
                  display: none;
                }
              }
              .react-date-picker__calendar-button {
                width: 121px;
                height: 32px !important;
                svg {
                  display: none;
                }
              }
              .react-date-picker__calendar {
                z-index: 3;
              }
            }
////////////////////////////////// react-date-picker /////////////////////////////////////////////
            .react-date-picker__calendar {
              margin-top: 7px;
              width: 260px;
              .react-calendar::before {
                content: '';
                background: url('../../assets/icons/15-10-2019/Path 184.svg');
                background-position: center;
                position: absolute;
                background-size: cover;
                height: 20px;
                width: 20px;
                top: -11px;
                -webkit-transform: rotate(-54deg);
                transform: rotate(-65deg);
                left: 20px;
                
              }
              .react-calendar {
                border: 0;
                border-radius: 15px;
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
                .react-calendar__navigation { 
                  align-items: center;
                  margin: 0;

                  .react-calendar__navigation__arrow {
                    min-width: 26px;
                    width: 26px;
                    height: 20px;
                  }
                  .react-calendar__navigation__label {
                    color: rgba(78, 88, 169, 0.5);
                    font-weight: 700;
                  }
                }
                .react-calendar__viewContainer {
                  .react-calendar__month-view  {
                    div {
                      div {
                        .react-calendar__month-view__weekdays {
                          .react-calendar__month-view__weekdays__weekday {
                            abbr {
                              text-decoration: none;
                            }
                          }
                        }
                        .react-calendar__month-view__days {

                        }
                      }
                    }
                  }
                }

                
                .react-calendar__tile {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  padding: 10px 0;
                  // flex-basis: 12.2857% !important;
                }
                .react-calendar__tile--active {
                  border-radius: 100px ;
                  background: #A3AAD1;
                }
              }
            }
////////////////////////////////// react-date-picker /////////////////////////////////////////////
        }

        .CT-custome-button {
          box-shadow: none;
          background: 0;
          border-radius: 10px !important;
          margin-left: 2%;
          width: 95%;      
          border: 1px solid #d0cfec;
          background: rgba(78, 88, 169, 0.05);
          padding: 6px 7px;
          margin-right: 7px;
  
          span {
            color: $color-thickGray;  
            font-family: helveticaNeueLight;
            font-weight: 300 !important;
            text-transform: capitalize;
          }
        }
        .CT-time-btn {
          width: 100px !important;
        }

        .CT-time-setter {
          position: relative;
        }
      }
      #to {
        margin: 0 5px;
        font-size: 1.2rem;
      }

      .CT-all-day {
        margin: 0 1% 0 1%;
        .CT-all-day-checkbox {
          padding: 0;
          margin-left: 5px;
          width: 20px;
          span {
            color: #4e58a9 !important;
            svg {
              width: 20px;
            }
          }
        }
        .Mui-checked {
          color: #4e58a9 !important;
        }
        span {
          margin-left: 3px;
          margin-top: -1px;
          color: $color-thickGray;
          font-family: helveticaNeueCondensedBold;

        }
      }

      .DNR-dropdown-container {
        width: 140px;
        position: relative;
        transition: 0.5s;
        .DNR-custome-non-library-dropdown {
          position: relative;
          border: 1px dashed #4e58a9;
          height: 40px;
          background: $elementsBgColor;
          border-radius: 100px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 10px;
          z-index: 2;
          .DNR-selected-item-container{ 
            width: 95%;
            height: 100%;
            display: flex;
            align-items: center;
          }
      
          img { 
            width: 15px;
            height: 15px;
            cursor: pointer;
          }
        }
        .DNR-custome-dropdown-menu-container {
          position: absolute;
          border-radius: 20px 20px 15px 15px;
          top: 10px;
          left: 0;
          width: 100%;
          background: $elementsBgColor;
          box-shadow: 0 0 30px rgba(131, 131, 131, 0.5);
          z-index: 1 !important;
          transition: 0.5s;
          .assign-to-list-container {}
          ul {
            li {
              cursor: pointer;
              padding: 2px 5px;
              border-radius: 11px;
            }
            li:hover {
              background: #f9f9f9;
            }
          }
        }
      
      }
       .DNR-custome-open-dropdown {
        height: 170px;
        overflow: hidden;
        transition: 0.5s;
        padding: 37px 12px 0 12px!important;
        background: #f9f9f9;
      }
      .DNR-custome-close-dropdown {
        padding: 0 12px 0 12px !important;
        height: 0;
        transition: 0.5s;
        overflow: hidden;
      }      
    }


    // .custome-button-dashed {
    //   border: $lightGrayDashedBorder;
    // }
    // .custome-button-active {
    //   background: $color-lightPurple;
    //   border: 1px dashed transparent;
    //   color: $color-strongPurple;
    // }
    .set-your-goal-section {
      @extend %d-flex;

      // div {
      //   width: 50%;
      // }
      .left-section {
        width: 50%;
        span:nth-child(1) {
          @extend %subHeading;
        }
        .left-section-content {
          margin-top: 10px;
          width: 100%;
          @extend %d-flex-align-center;

          span {
            margin-left: 10px;
            font-size: 1.2rem;
            font-family: 'helveticaNeueCondensedBold';
            font-weight: 300;
            color: $color-lightGray;
          }
        }
        .number-times-perday {
          @extend %d-flex;
          border-radius: $borderRadius;
          height: 40px;
          width: 150px;
          border: 1px solid $color-lightPurple;
          div {
            @extend %d-flex-align-justify-center;
            cursor: pointer;
            width: 50%;
          }
          div:nth-child(2){
            border-left: 1px solid $color-lightPurple;
            border-right: 1px solid $color-lightPurple;
            @extend %subHeading;
          }
        }
        span:nth-child(2) {

        }
      }
      .right-section {
        width: 50%;
        span:nth-child(1) {
          @extend %subHeading;
        }
        .right-section-content {
          @extend %d-flex-align-center;
          width: 100%;
          .timer-section {
            cursor: pointer;
            position: relative;
            margin-top: 13px;
            @extend %d-flex-align-justify-center;
            height: 35px;
            width: 100px;
            border-radius: 12px;
            border: 1px solid $color-lightPurple;
            font-size: 0.9rem;
            margin-right: 5px;
          }

        }
      }
    }
    .goals-on-which-days-section {
      margin-top: 10px;
      @extend %d-flex-align-center-space-btwn;
      span {
        @extend %subHeading;
      }

      .days-button-container {
        @extend %d-flex-align-center;
        width: 65%;
        .day-button {
          @include heighWidth(50px, 50px);
          @extend %d-flex-align-justify-center;
          margin-right: 10px;
          border-radius: $borderRadius;
          color: $color-strongPurple;
          cursor: pointer;
        }
        .non-active-day-button {
          border: 1px solid $color-lightPurple;
        }
        .active-day-button {
          background: $color-lightPurple;
          border: 1px solid transparent;
        }
      }
    }
    .location-tags-notes-section {
      @extend %d-flex-align-center;
      margin: 10px 0;
      
      .left-section {
        width: 50%;

        .create-habit-location {
          width: 95%;
          height: 50px;
          border-radius: $borderRadius;
          @extend %d-flex-align-center;
          padding: 0 15px;
          margin: 0 0;
          border: $lightGraySolidBorder;
          .MuiFormControl-root {
            margin: 7px 0 0 13px;
            .MuiInputBase-root {
              color: $color-thickGray;
              font-size: 1.2rem;
            }
            label {
              color: $color-thickGray;
              font-size: 1.2rem;
            }
            .MuiInputLabel-formControl {
              top: 0;
              left: 0;
              position: absolute;
              transform: translate(0, 5px) scale(1);
            }
            .MuiInputLabel-animated {
              transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
            }
            .MuiInputBase-root {
              margin: 0%;
            }
            .MuiInput-underline:before, .MuiInput-underline:after {
              border: 0;
            }
          }
        }   
        
        .multi-select-dropdown-menu {
          border-radius: $borderRadius;
          border: $lightGraySolidBorder;
          width: 95%;
          margin: 10px 0 0 0;
          label {
            background: $color-white;
            display: flex;
            img {
              height: 20px;
            }
            span {
              margin: 0 2px 0 5px;
              align-self: flex-end;
              font-size: 1.2rem;
            }
            i {
              font-size: 0.5rem;
              margin-left: 5px;
              color: $color-red;
            }
          }
          @extend %multi-select-custom;
          .MuiInputBase-root {
            margin: 0;
            height: 50px;
            svg {
              top: calc(50% - 10px);
              color: rgba(0, 0, 0, 0.54);
              right: 10px;
              position: absolute;
              pointer-events: none;
              @include placeholder(url('../../assets/create-habit/Group 11382.svg'), center, no-repeat, contain);
            }
          }
        }        
      }
      .right-section {
        width: 50%;
        @extend %d-flex-align-center;
        textarea {
            height: 120px !important;
            width: 95%;
            padding: 10px;
            margin: auto;
            border: $lightGraySolidBorder;
            border-radius: 15px;
        }
      }
    }
    .CT-text-area {
      width: 100%;
      @extend %d-flex-align-center;
      textarea {
          height: 110px !important;
          width: 100%;
          padding: 10px;
          margin: auto;
          border: $lightGraySolidBorder;
          border-radius: 15px;
      }
    }  
    .CT-estimated-time  {
      @extend %d-flex-align-center;
      padding: 0 10px;
      width: 49%;
      border-radius: 100px;
      border: 1px dashed #d0cfec;
      #estimatedTimeIcon {
        margin: 0 2%; 
      }
      .MuiFormControl-root {
        margin: 0;
        width: 100%;
        .MuiInputBase-root {
          .PrivateNotchedOutline-root-83{
            border: none!important;
          }
          .MuiOutlinedInput-input {
            border: 0;
            height: 12px;
          }
        }
      }

    }
  }

  .create-task-sub-section {
    width: 30%;
    .create-task-attachment {
      width: 90%;
      margin: 5% auto;
      .file-attach-button {
        @include heighWidth(30px, 10px);
        background: url('../../assets/create-habit/Group 11382.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        cursor: pointer;
      }
      span:nth-child(1) {
        @extend %subHeading;
      }
  
  
  
      .CT-attached-files-container {
        border: $lightGrayDashedBorder;
        height: 100px;
        overflow: auto;
        display: flex;
        // justify-content: space-evenly;
        flex-wrap: wrap;
        border-radius: 10px;
        align-items: center;
        .attached-file-template {
          width: 100px;
          height: 75px;
          margin: 5px;
          border-radius: 10px;
          position: relative;
          .attached-file-remove {
            cursor: pointer;
            height: 15px;
            width: 15px;
            position: absolute;
            right: 0;
            top: -5px;
            border: 1px solid white;
          }
          img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
          }
        }
        .CT-attachment-button {
          height: 75px;
          padding: 5px;
          margin: 5px;
          // border: $lightGrayDashedBorder;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;

          .file-attach-button {
          }
          p {
            font-size: 0.9rem;
            text-align: center;
            color: $color-lightGray;
            span{
              color: $color-skyBlue;
            }
          }
        } 
      }
      .align-center {
        align-items: center;
      }
      .space-equaly {
        justify-content: space-evenly;
      }
  
    }
  }

  .share-through-email-section {
    width: 90%;
    margin: 10% auto;
    div:nth-child(1) {
      @extend %d-flex-align-center;
      span:nth-child(1) {
        @extend %subHeading;
      }
      .share-through-email-checkbox {
        padding: 0;
        margin-left: 5px;
        width: 20px;
        span {
          svg {
            width: 20px;
          }
        }
      }
    }

  }

  .create-habit-customised-dropdown-menu {
    border: $lightGraySolidBorder;
    border-radius: $borderRadius;
    margin-bottom: 20px;
    label {
      background: $color-white;
      display: flex;
    }
    .MuiInputLabel-outlined {
      transform: translate(46px, 20px) scale(1);
    }
    .MuiInputLabel-outlined.MuiInputLabel-shrink {
      transform: translate(14px, -6px) scale(0.75);
    }
    div {
      @extend %d-flex-align-center;

      img {
        @include heighWidth(17px, 30px);
        margin-left: 10px;
        border-radius: $borderRadius;
      }

      .MuiInputBase-root {
        border-radius: 0 100px 100px 0  !important;
        width: 88%;
        margin-left: auto;
        .MuiSelect-root {
          padding: 18.5px 0;
          background: none;
        }
      }   
      fieldset {
        border: 0;
      }       
    }

    width: 100%;
    fieldset {
      border: $lightGraySolidBorder;
      border-radius: $borderRadius;
    }
  }  
}

//////////////////////////////////////////////////////////////

.color-pallet-popup {
  @extend %popupCmnProperiets;
  @include heighWidth(130px, 175px);
  top: 37px;
  left: -135px;

  span {
    @extend %subHeading;
    font-size: 0.9rem;
  }
  .twitter-picker  {
    box-shadow: none !important;
    width: 162px !important;
    div  {
      padding: 0 !important;
      span {
        div {
          height: 17px !important;
          width: 17px !important;
        }
      }
      div:last-child {
      }
    }
  }
}
.color-pallet-popup:before {
  content: '';
  // background: url('../../assets/icons/15-10-2019/Path 185.svg');
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 10px solid #dadada;
  top: -11px;
  left: 140px;
}

.create-task-tag-color-pallet-popup {
  @extend %popupCmnProperiets;
  @include heighWidth(130px, 175px);
  top: 55px;
  left: 20px;

  span {
    @extend %subHeading;
    font-size: 0.9rem;
  }
  .twitter-picker  {
    box-shadow: none !important;
    width: 162px !important;
    div  {
      padding: 0 !important;
      span {
        div {
          height: 17px !important;
          width: 17px !important;
        }
      }
      div:last-child {
      }
    }
  }
}
.create-task-tag-color-pallet-popup:before {
  content: '';
  // background: url('../../assets/icons/15-10-2019/Path 185.svg');
  position: absolute;
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #dadada;
  top: 153px;
  left: 10px;
}

.CT-set-time-popup {
  @extend %popupCmnProperiets;
  @include heighWidth(150px, 120px !important);
  top: 44px;
  left: -9px;
  cursor: pointer;
  .time-scroll-container {
    user-select: none;
    @include heighWidth(150px, 100px !important);
    overflow: auto;
    div:nth-child(3) {
      background-color: $color-borderLightGray;
    }
    li {
      width: 90px;
      padding-left: 5px;
      color: $color-thickGray;
      list-style: none;
    }
    li:hover {
      background: rgba(78, 88, 169, 0.1);
    }
  }
}
.CT-set-time-popup:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #dadada;
  top: -11px;
  left: 43%;
}






.CT-assignTo-dropdown-container {
  width: 49%;
  position: relative;
  margin: 0;
  transition: 0.5s;
  .CT-assignTo-non-library-dropdown {
    position: relative;
    border: 1px dashed #4e58a9;
    height: 50px;
    background: $elementsBgColor;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    z-index: 2;
    .CT-selected-item-container{ 
      width: 95%;
      height: 100%;
      display: flex;
      align-items: center;
      .CT-selected-item-template {
        @extend %d-flex-align-center;
        border-radius: 100px;
        margin-right: 2%;
        padding: 1px 6px;
        background: #ECEDF5;
        #avathar-img {
          width: 18%;
          height: 10%;
          border-radius: 100px;
        }
        span {
          margin-left: 5px;
          white-space: nowrap;
        }
        #remove-img {
          width: 15px;
          height: 15px;
          margin-left: auto;
        }
      }
    }
    .ctm-drop-toggler {
      height: 8px;
      margin: 0 2%;
    }
  }
  .CT-assignTo-custome-dropdown-menu-container {
    position: absolute;
    border-radius: 20px 20px 15px 15px;
    top: 10px;
    left: 0;
    width: 100%;
    background: $elementsBgColor;
    box-shadow: 0 0 30px rgba(131, 131, 131, 0.5);
    z-index: 1 !important;
    transition: 0.5s;
    .assign-to-list-container {
      overflow: auto;
      height: 113px;
      .assign-to-item {
        margin: 10px 0;
        .assign-item-avatar {
          margin: 5px 0;
          @extend %d-flex-align-center;
          border-radius: 7px;
          img { 
            height: 30px;
            width: 30px;
            border-radius: 100px;
          }
          span {
            margin: 0 0 0 5px;
          }
          .avatar-item-checkbox { 
            padding: 0;
            margin-left: auto;
            margin-right: 8px;
            width: 20px;
              span {
                color: #4e58a9 !important;
                svg {
                  width: 20px;
                }
              }
            .Mui-checked {
              color: #4e58a9 !important;
            }
          }
          .MuiIconButton-colorSecondary:hover {
            background: transparent;
          }
        }
        .assign-item-avatar:hover {
          background: #F9F9F9;
          cursor: pointer;
        }
      }
    }
  }
  .CT-assignTo-custome-open-dropdown {
    height: 170px;
    overflow: hidden;
    transition: 0.3s;
    padding: 48px 12px 0 12px !important;
  }
  .CT-assignTo-custome-close-dropdown {
    padding: 0 12px 0 12px !important;
    height: 0;
    transition: 0.3s;
    overflow: hidden;
  }
}
///////////////////////////////////////
// .tags-dropdown-container {
//   width: 49%;
//   position: relative;
//   margin: 0;
//   transition: 0.5s;
//   .CT-tags-non-library-dropdown {
//     position: relative;
//     border: 1px dashed #c8c8c8;
//     height: 50px;
//     background: $elementsBgColor;
//     border-radius: 100px;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     padding: 0 10px;
//     z-index: 2;
//     #tags-image {
//       margin: 0 2%;
//     }
//     .CT-selected-tags-container{ 
//       width: 95%;
//       height: 100%;
//       display: flex;
//       align-items: center;
//       .CT-selected-item-template {
//         @extend %d-flex-align-center;
//         border-radius: 6px;
//         margin-right: 2%;
//         padding: 3px 6px;
//         span {
//           margin-left: 5px;
//           margin-right: 5px;
//           white-space: nowrap;
//         }
//         #remove-img {
//           width: 15px;
//           height: 15px;
//           margin-left: auto;
//         }
//       }
//     }
//     #add-new-icon {
//       width: 25px;
//       height: 25px;
//       margin: 0 2%;
//     }
//   }
//   .tags-custome-dropdown-menu-container {
//     position: absolute;
//     border-radius: 20px 20px 10px 10px;
//     top: 10px;
//     left: 0;
//     width: 100%;
//     background: $elementsBgColor;
//     box-shadow: 0 0 30px rgba(131, 131, 131, 0.5);
//     z-index: 1 !important;
//     transition: 0.5s;
//     .tags-list-container {
//       overflow: auto;
//       height: 123px;
//       .tags-item {
//         margin: 5px 0;
//         @extend %d-flex-align-center;
//         .tags-item-checkbox { 
//           padding: 0;
//           margin-right: 8px;
//           width: 20px;
//             span {
//               color: #4e58a9 !important;
//               svg {
//                 width: 20px;
//               }
//             }
//           .Mui-checked {
//             color: #4e58a9 !important;
//           }
//         }        
//         span {
//           margin: 0 0 0 5px;
//         }
//         .tags-color-holder {
//           height: 12px;
//           width: 12px;
//           margin-left: auto;
//           margin-right: 5px;
//           border-radius: 100px;
//           background: red;
//         }
//         .MuiIconButton-colorSecondary:hover {
//           background: transparent;
//         }
//       }
//       .tags-item:hover {
//         background: #F9F9F9;
//         cursor: pointer;
//       }
//     }
//     hr { margin: 0 }
//     .tag-name-adder {
//       @extend %d-flex-align-center-space-btwn;
//       .MuiFormControl-root {
//         margin: 0;
//         .MuiInputBase-root {
//           // margin: 0;
//         }
//       }
//     }
//   }
//   .tags-custome-open-dropdown {
//     height: 240px;
//     overflow: hidden;
//     transition: 0.3s;
//     padding: 48px 12px 0 12px !important;
//   }
//   .tags-custome-close-dropdown {
//     height: 0;
//     transition: 0.3s;
//     overflow: hidden;
//   }
// }

.CT-drawer-tags {
  width: 48%;
  height: 50px;
      .menu-container{
          width: 100%;
          position: relative;
          margin: auto ;
          transition: 0.5s;
          .tags-container{
              position: relative;
              border: 1px solid $color-lightGray;
              height: 45px;
              background: $color-white;
              border-radius: 100px;
              display: flex;
              align-items: center;
              justify-content: space-around;
              .selected-item-container{ 
                  // margin-left: 1%;
                  width: 85%;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  p{
                      color: $color-thickGray;
                      padding-left: 14px;
                      font-weight: 590;
                  }
                }
                .tag-drp-dwn-img{
                  width: 6%;
                  margin-right: 1%;
                  display: flex;
                  justify-content: center;
                  // border: 1px dashed $color-violet;
                  border-radius: 50%;
                height: 50%;
                img{
                    width: 20px;
                }
              }
          }
          .tag-open-dropdown {
              height: 250px;
              overflow: auto;
              padding-top: 40px;
              transition: 0.5s;
              
            }
          .tag-dropdown-menu-container {
              position: absolute;
              border-radius: 20px 20px 5px 5px;
              top: 10px;
              left: 0;
              width: 100%;
              background: $color-white;
              box-shadow: 0 0 30px rgba(131, 131, 131, 0.5);
              transition: 0.5s;
              overflow: hidden;
             
              .create-ticket-search-tag{
                  width: 100%;
                  height: 25px;
                  .MuiInputBase-root{
                      width: 70%;
                      border: 1px solid $color-lightGray;
                      border-radius: 100px;
                      .MuiInputBase-input{
                          padding: 6px 10px 7px;
                          color: $color-thickGray;
                      }
                  }
                  img{
                      width: 6%;
                  }
              }
              .MuiButtonBase-root{
                  width: 95%!important;
                  margin: 0 auto!important;
                  background-color:transparent!important;
                  box-shadow: none!important;
                  border-radius: 25px;
                  height: 30px;
                  min-height: 40px;
                  padding: 0px!important;
                  min-height: 30px!important;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  // margin: 1% auto;
                  
              }
              .create-task-drawer-color-picker{
                  width: 88%;
                  border: 1px solid $color-lightGray;
                  margin: 2% auto;
                  border-radius: 100px;
                  height: 25px;
                  justify-content: center;
                  align-items: center;
                  img{
                      width: 18px;
                      margin-left: 5px;
                  }
                  .task-circle-color-picker{
                      width: 90%;
                      margin-left: 10px;
                  }
              }
          }
         
          .custom-scroll{
              width: 98%!important;
          }
      }
}
//////////////////////////////////////

.CT-menu-container{
  width: 49%;
  position: relative;
  transition: 0.5s;
  .CT-priority-container{
      width: 100%;
      position: relative;
      border: 1px solid $color-lightGray;
      height: 45px;
      background: $color-white;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      // z-index: 998;
      .CT-selected-item-container{ 
          // margin-left: 1%;
          width: 85%;
          height: 100%;
          display: flex;
          align-items: center;
          p{
              color: $color-thickGray;
              padding-left: 14px;
              font-weight: 590;
          }
        }
        .CT-priority-drp-dwn-img{
          width: 6%;
          margin-right: 1%;
          display: flex;
          justify-content: center;
          // border: 1px dashed $color-violet;
          border-radius: 50%;
        height: 50%;
        img{
            width: 12px;
        }
      }
  }
  .CT-priority-open-dropdown {
      height: 210px;
      overflow: auto;
      padding-top: 40px;
      transition: 0.5s;
  }
  .CT-priority-dropdown-menu-container{
      position: absolute;
      border-radius: 20px 20px 5px 5px;
      top: 10px;
      left: 0;
      width: 100%;
      background: $color-white;
      box-shadow: 0 0 30px rgba(131, 131, 131, 0.5);
      // z-index: 997 !important;
      transition: 0.5s;
      overflow: hidden;
      .MuiButtonBase-root{
          width: 90%!important;
          margin: 0 auto!important;
          background-color:transparent!important;
          box-shadow: none!important;
          border-radius: 25px;
          height: 40px;
          min-height: 40px;
          padding: 0px!important;
          min-height: 30px!important;
          // margin: 1% auto;
          
      }
      .create-ticket-one-priority{
        height: 35px;
        margin-top: 0%;
        align-items: center;
        border-radius: 100px;
        width: 100%;
        align-items: center!important;
            .create-ticket-src-radio{
                width: 10%;
            }
        .create-ticket-prio-img-text{
            width: 90%;
            
            img{
                margin-left: 3%;
                display: flex;
                align-items: center;
                width: 10px;
            }
            p{
                color:#c8c8c8!important;
                margin-bottom:  0px!important;
                margin-left: 2%;
                display: flex;
                align-items: center;
                font-size: 15px;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.17;
                letter-spacing: normal;
                font-family: "helveticaNeueLight"; 
            }
        }
        
    }
  }
 
  .custom-scroll{
      width: 98%!important;
  }
}



/***************************************Select link to existing **************************************/
.link-to-exist-dropdown-container {
  width: 49%;
  position: relative;
  margin: 0;
  transition: 0.5s;
  .LTE-non-library-dropdown {
    position: relative;
    border: 1px dashed #4e58a9;
    height: 50px;
    background: $elementsBgColor;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    .LTE-selected-item-container{ 
      width: 95%;
      height: 100%;
      display: flex;
      align-items: center;
      .link-to-selected-template {
        @extend %d-flex-align-center;
        border-radius: 100px;
        margin-right: 2%;
        padding: 1px 6px;
        img {
          width: 18px;
          height: 18px;
          margin-right: 5px;
        }
        span {
          margin-top: 5px;
          margin-left: 5px;
          white-space: nowrap;
          span {
            color: #7ac9ff;
          }
        }
      }
    }
    .LTE-drop-toggler {
      height: 8px;
      margin: 0 2%;
    }
  }
  .LTE-custome-dropdown-menu-container {
    position: absolute;
    border-radius: 20px 20px 15px 15px;
    bottom: 10px;
    left: 0;
    width: 100%;
    background: $elementsBgColor;
    box-shadow: 0 0 30px rgba(131, 131, 131, 0.5);
    transition: 0.5s;
    .LTE-list-container {
      overflow: auto;
      height: 122px;
      .LTE-item {
        padding: 5px 0;
        border-radius: 15px;
        .LTE-item-avatar {
          margin: 5px 0;
          @extend %d-flex-align-center;
          border-radius: 7px;
          .link-to-icon { 
            height: 17px;
            width: 17px;
            margin-right: 5px;
          }
          span {
            margin: 0 0 0 5px;
          }
          .LTE-item-checkbox { 
            padding: 0;
            margin-left: auto;
            margin-right: 8px;
            width: 20px;
              span {
                color: #4e58a9 !important;
                svg {
                  width: 20px;
                }
              }
            .Mui-checked {
              color: #4e58a9 !important;
            }
          }
          .MuiIconButton-colorSecondary:hover {
            background: transparent;
          }
        }
      }
      .LTE-item:hover {
        background: #F9F9F9;
        cursor: pointer;
      }
    }
  }
  .LTE-custome-open-dropdown {
    height: 180px;
    overflow: hidden;
    transition: 0.3s;
    padding: 10px 12px 0 12px !important;
  }
  .LTE-custome-close-dropdown {
    padding: 0 12px 0 12px !important;
    height: 0;
    transition: 0.3s;
    overflow: hidden;
  }
}

.link-to-record-dropdown-container {
  width: 49%;
  position: relative;
  margin: 0;
  transition: 0.5s;
  .LTR-non-library-dropdown {
    position: relative;
    border: 1px dashed #4e58a9;
    height: 50px;
    background: $elementsBgColor;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    .LTR-selected-item-container{ 
      width: 95%;
      height: 100%;
      display: flex;
      align-items: center;
      .link-to-related-selected-template {
        @extend %d-flex-align-center;
        border-radius: 100px;
        margin-right: 2%;
        padding: 1px 6px;
        img {
          width: 18px;
          height: 18px;
          margin-right: 5px;
        }
        span {
          margin-top: 5px;
          margin-left: 5px;
          white-space: nowrap;
          span {
            color: #7ac9ff;
          }
        }
      }
    }
    .LTR-drop-toggler {
      height: 8px;
      margin: 0 2%;
    }
  }
  .LTR-custome-dropdown-menu-container {
    position: absolute;
    border-radius: 20px 20px 15px 15px;
    bottom: 10px;
    left: 0;
    width: 100%;
    background: $elementsBgColor;
    box-shadow: 0 0 30px rgba(131, 131, 131, 0.5);
    transition: 0.5s;
    .LTR-list-container {
      overflow: auto;
      height: 122px;
      .LTR-item {
        padding: 5px 0;
        border-radius: 15px;
        .LTR-item-avatar {
          margin: 5px 0;
          @extend %d-flex-align-center;
          border-radius: 7px;
          .link-to-icon { 
            height: 17px;
            width: 17px;
            margin-right: 5px;
          }
          span {
            margin: 0 0 0 5px;
          }
          .LTR-item-checkbox { 
            padding: 0;
            margin-left: auto;
            margin-right: 8px;
            width: 20px;
              span {
                color: #4e58a9 !important;
                svg {
                  width: 20px;
                }
              }
            .Mui-checked {
              color: #4e58a9 !important;
            }
          }
          .MuiIconButton-colorSecondary:hover {
            background: transparent;
          }
        }
      }
      .LTR-item:hover {
        background: #F9F9F9;
        cursor: pointer;
      }
    }
  }
  .LTR-custome-open-dropdown {
    height: 180px;
    overflow: hidden;
    transition: 0.3s;
    padding: 10px 12px 0 12px !important;
  }
  .LTR-custome-close-dropdown {
    padding: 0 12px 0 12px !important;
    height: 0;
    transition: 0.3s;
    overflow: hidden;
  }
}
/***************************************Select link to existing **************************************/






.CT-custome-open-dropdown {
  height: 170px;
  overflow: hidden;
  transition: 0.3s;
  padding: 48px 12px 0 12px !important;
}
.CT-custome-close-dropdown {
  height: 0;
  transition: 0.3s;
  overflow: hidden;
}



.field-z-index {
  z-index: 21 !important;
}

.dropdown-z-index {
    z-index: 20 !important;
}




.zIndex {
  z-index: 10200 !important;
}










