@import '../../../../variables';


.merge-ticket-drawer-bodySection{
    width: 100%;
}

.merge-ticket-drawer{
    width: 100%;
    .MuiDrawer-paperAnchorRight{
        width: 35%;
    }
}

.merge-ticket{
    margin-top: 5%;
    width: 95%;
    height: auto;
    // border: 1px solid red;
    margin: 5% auto;
}

.merge-ticket-header-text > p{
    font-size: 18px;
    font-weight: bolder;
    color: $color-dimGray;
    margin-left: 10px;
}

.merge-ticket-drop-down-search{
    width: 100%;
    display: flex;
    margin-left: 10px;
    margin-top: 4%;
}

.merge-ticket-drop-down-search{
    .dropdown-button{
        width: 25%;
        
    }
}

.merge-ticket-drop-down-search{
    .dropdown-button {
        .btn{
            color:$color-thickGray;
            font-size: 10px;
            height: 30px;
            border: 1px dashed $color-lightGray;
            box-shadow: none!important;
            padding: 5px!important;
            border-radius: 20px;
            margin: 0px!important;
        }
    } 
} 

.merge-ticket-drop-down-search{
    .header-search{
        width: 75%;
        padding-top: 0px!important;
        margin-left: 0%;
    }
} 

.merge-ticket-drop-down-search{
    .header-search{
        .search-bar{
            width: 80%;
            height: 30px;
            margin-left: 5%;
            border: 1px solid $color-darkWhite;
            border-radius: 15px; 
        }
    }
}

.merge-ticket-drop-down-search{
    .header-search{
        .search-bar{
            .MuiInputBase-root{
                .MuiInputBase-input{
                    font-size: 14px;
                    padding: 6px 10px 7px;
                }
            }
        }
    }
} 

.merge-ticket-drop-down-search{
    .header-search{
        .search-bar{
            .search-icon{
                .MuiSvgIcon-root{
                    font-size: 1.7rem;
                    padding-top: 5px;
                }
                
            }
        }
    }
}

.merge-ticket-licensing-container{
    height: 450px;
}


.merge-ticket-licensing{
    width: 80%;
    height: 50px;
    border: 1px dashed $color-skyBlue;
    border-radius: 5px;
    margin-left: 10%;
    margin-top: 8%;
    display: flex;
}


.merge-ticket-licensing-icon{
    width: 6%;
    margin: 10px auto;
}

.merge-ticket-phone-number-text{
    width: 16%;
    margin: 10px auto;
}

.merge-ticket-licensing-text{
    width: 55%;
    margin: 10px auto;
}

.merge-ticket-licensing-icon{
    img{
        width: 15px;
        margin: 5px auto;
    }
}
.merge-ticket-phone-number-text{
    p{
        margin: 0px!important;
        color: $color-lightGray;
    }
}

.merge-ticket-phone-number-text-one{
    font-size: 10px;
    font-weight: bolder;
}
.merge-ticket-phone-number-text-two{
    font-size: 8px;
}
.merge-ticket-licensing-text{
    p{
        margin: 0px!important;
        color: $color-thickGray;
        font-size: 11px;
    }
} 

.merge-ticket-licensing-img-text{
    display: flex;
}
.merge-ticket-licensing-img-text{
    img{
        width: 18px;
        height: 18px;
        border-radius: 10px;
        margin-right: 5px;
    }
} 
.merge-ticket-licensing-img-text{
    p{
        margin-top: 2px!important;
        margin-left: 1px!important;
        font-size: 9px;
    }
} 

.merge-ticket-primary{
    width: 14%;
    height: 35px;
    border: 1px dashed $color-skyBlue;
    border-radius: 5px;
    margin: 8px 0px;
    margin-right: 10px;
}

.merge-ticket-primary{
    img{
        width: 30%;
        margin-left: 14px;
    }
} 

.merge-ticket-primary{
    p{
    margin-top: -2px !important;
    margin-left: 5px;
    font-size: 7px;
    color: $color-skyBlue;
}
}

.merge-ticket-licensing-one{
    width: 75%;
    height: 50px;
    border: 1px dashed $color-skyBlue;
    border-radius: 5px;
    margin-left: 15%;
    margin-top: 4%;
    display: flex;
}

.merge-ticket-licensing-two{
    width: 70%;
    height: 50px;
    border: 1px dashed $color-skyBlue;
    border-radius: 5px;
    margin-left: 20%;
    margin-top: 4%;
    display: flex;
}

.merge-ticket-primary-one{
    width: 14%;
    height: 35px;
    border: 1px dashed $color-lightGray;
    border-radius: 5px;
    margin: 8px 0px;
    margin-right: 10px;
}

.merge-ticket-primary-one{
    img{
        width: 30%;
        margin-left: 14px;
    }
} 

.merge-ticket-primary-one{
    p{
        margin-top: -2px !important;
        margin-left: 4px;
        font-size: 7px;
        color: $color-lightGray;
    }
}

.merge-ticket-primary-two{
    width: 14%;
    height: 35px;
    border: 1px dashed $color-lightGray;
    border-radius: 5px;
    margin: 8px 0px;
    margin-right: 10px;
}

.merge-ticket-primary-two{
    img{
        width: 30%;
        margin-left: 14px;
    }
} 

.merge-ticket-primary-two{
    p{
        margin-top: -2px !important;
        margin-left: 3px;
        font-size: 7px;
        color: $color-lightGray;
    }
}




.merge-break-for-submit-section{
    width: 100%;
    border: 1px solid $color-darkWhite!important;
    margin: 5% auto;
}


.merge-update-submit-section{
    width: 80%;
    height: 50px;
    margin: 3% auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.merge-update-submit-section-button-one, .bulk-update-submit-section-button-two{
    width: 50%;
}

.merge-update-submit-section-button-one{
    .MuiButton-outlinedPrimary{
        width: 50%;
        height: 40px;
        border: 1px solid $color-lightGray!important;
        border-radius: 20px;
        color: $color-lightGray;
        font-size: 12px;
        
    }
}

.merge-update-submit-section-button-one{
    .MuiButton-root{
        text-transform: none;
}
}

.merge-update-submit-section-button-one{
    .MuiButton-outlined{
        padding: 5px 0px;
     }
} 

.merge-update-submit-section-button-two{
    .MuiButton-outlinedPrimary{
        width: 84%;
        height: 40px;
        border: 1px solid $color-green!important;
        border-radius: 20px;
        color: $color-white;
        font-size: 12px;
        background-color: $color-green;
        margin-left: 16%;
    }
}

.merge-update-submit-section-button-two{
    .MuiButton-outlinedPrimary:hover{
        width: 84%;
        height: 40px;
        border: 1px solid $color-green!important;
        border-radius: 20px;
        color: $color-white;
        font-size: 12px;
        background-color: $color-green;
        margin-left: 16%;
    }
} 

.merge-update-submit-section-button-two{
    .MuiButton-root{
        text-transform: none;
}
} 

.merge-update-submit-section-button-two{
    .MuiButton-outlined{
        padding: 5px 0px;
     }
}   

////////////////////////////////////////////////
.merge-ticket-menu-item {
    .MuiInput-underline:before {
        border-bottom: none!important;
    }
} 

.merge-ticket-menu-item{

    .MuiInput-underline:after {
        border-bottom: none!important;
    }
} 

.merge-ticket-menu-item {

    .MuiInput-underline:hover:not(.Mui-disabled):before{
        border-bottom: none!important;
    }

}

.merge-ticket-menu-item{

    .MuiInput-root{

        .MuiSelect-select{
            padding:5px;
            font-size: 13px;
            font-weight: 400;
            color:$color-thickGray;
        }
    }

} 

.merge-ticket-menu-item{
    
    .MuiInputBase-root{
        width: 100%;
        border: 1px solid $color-lightGray;
        border-radius: 20px;
    }
} 

.merge-ticket-drop-down-search{

    .MuiFormControl-root{
        width: 25%;
        .MuiInputLabel-formControl{
            top: -14px;
            left: 10px;
            color: $color-thickGray;
        }
    }
}

.merge-ticket-licensing{
    .MuiIconButton-root{
        .MuiIconButton-label{
            .MuiSvgIcon-root{
                width: 1.2rem;
            }
        }
    }
}