@import '../../../variables';
@import '../../../extends';
@import '../../../mixins';

/*----------------------Media Query---------------------*/
 
/*    Device = Most of the Smartphones Mobiles (Portrait)  Screen = B/w 320px to 479px  */
@media (min-width: 320px) and (max-width: 480px) {

  
}


/* Device = Low Resolution Tablets, Mobiles (Landscape) Screen = B/w 481px to 767px */
@media (min-width: 481px) and (max-width: 767px) {


}


/* Device = Tablets, Ipads (landscape) Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  
}

/* Device = Tablets, Ipads (portrait) ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {



}


/* Device = Laptops, Desktops Screen = B/w 1025px to 1280px */
@media (min-width: 1025px) and (max-width: 1280px) {

  .tckt-sidebar-header{
    font-size: rem(18px)!important;
  }

  .sidebar-search-container{
    .sidebar-search-field {
      .MuiInputBase-root {
        .MuiInputBase-input {
         
          font-size: rem(12px)!important;
        }
       
      }
    }
  }
  .section-elements, .active-section-element{
    font-size: rem(13px)!important;
  }

}


/* Device = Desktops Screen = 1281px to higher resolution desktops */
@media (min-width: 1281px) and (max-width: 1600px) {
  .tckt-sidebar-header{
    font-size: rem(20px)!important;
  }

  .sidebar-search-container{
    .sidebar-search-field {
      .MuiInputBase-root {
        .MuiInputBase-input {
         
          font-size: rem(16px)!important;
        }
       
      }
    }
  }
  .section-header-name{
    font-size:rem(16px)!important;
  }
  .section-elements, .active-section-element{
    font-size: rem(14px)!important;
    .element-name {
      font-size: rem(15px)!important;
    }
    .while-active-element-count{
      font-size: rem(14px)!important;
    }
    .while-non-element-count{
      font-size: rem(14px)!important;
    }
  }
}


@media (min-width: 1601px) {
  .tckt-sidebar-header{
    font-size: rem(30px);
  }

  .sidebar-search-container{
    .sidebar-search-field {
      .MuiInputBase-root {
        .MuiInputBase-input {
         
          font-size: rem(20px);
        }
       
      }
    }
  }

  .section-header-name{
    font-size:rem(20px)!important;
  }
 
  .section-elements, .active-section-element{
    font-size: rem(18px);
    .element-name {
      font-size: rem(18px);
    }
    .while-active-element-count{
      font-size: rem(16px);
    }
    .while-non-element-count{
      font-size: rem(16px);
    }
    .while-active-element-count{
      font-size: rem(16px);
    }
  }
}



/*----------------------Media Query---------------------*/

$transitionSpeed: 0.3s;

.tckt-sidebar-header {
  @extend %d-flex-align-justify-center;
  font-size: rem(30px);
  color: $color-lightViolet;
  text-align: center;
  height: 3.3%;
  width: 69.3%;
  margin: 1.9vh 20.5% 4.1vh 10.1%;
  font-weight: 600;
  span {
    margin-left: 5px;
    opacity: 0.3;
  }
}
.sidebar-search-container {
  width: 79.2%;
  height: 4.6%;
  margin: 0% 10.7% 2.1vh 10.1%;
  border-radius: 100px;
  box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.09);
  background: $color-white;
  @extend %d-flex-space-btwn;
  .sidebar-search-field {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2%; 
    .MuiInputBase-root {
      .MuiInputBase-input {
        // padding: 28% 4% 26% 0%;
        font-size: rem(20px);
      }
      fieldset {
        border: 1px solid transparent;
      }
    }
  }
  img {
    width: 6.9%;
    margin: 0 7px 0 0;
  }
}

.side-navbar-right-container {
  // position: relative;
  // @extend %d-flex-column;
  // align-items: center;
  // transition: $transitionSpeed;
  // background: $color-exDarkPurple;
  // padding: 0 15px;
  // box-sizing: border-box;
  // white-space: nowrap;

  .tickets-scrollable-section {
    // height: 300px;
    height: 84vh;
    overflow: auto;
  }
  .sidebar-ticket-section {
    width: 100%;
    // height: 30%;
    // overflow: auto;
    // padding: 0 15px;
    // margin: 8.7% 0;
    .section-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // margin: 14px 0 5px 0;
      // padding: 0 10px;
      margin: 0% 9.2% 2.9vh 9.2%;
      width: 80.1%;
      height: 2.1%;
      text-transform: capitalize;
      .section-header-icon{
        // position: absolute;
        width: 13.5%;
        // height: 3.7%;
      }
      .section-header-name {
        color: $color-thickGray;
        font-weight: 600;
        font-family: 'HelveticaNeue-MediumCond';
        font-size: rem(20px);
       
      }
    }

    .section-elements, .active-section-element {
      width: 89.9%;
      height: 4.2vh;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: rgba(131, 131, 131, 0.9);
      margin: 0vh 4.3% 1.3vh 5.8%;
      border-radius: 7px;
      font-weight: 700;
      cursor: pointer;
      // font-size: rem(18px);
      transition: 0.6s;
      .element-name {
        margin-left: 5.4%;
        font-size: rem(18px);
      }
      .while-active-element-count{
        margin-right: 5.7%;
        font-size: rem(16px);
      }
      .while-non-element-count{
        margin-right: 5.7%;
        font-size: rem(16px);
      }

      .while-non-element-count {
        @extend %d-flex-align-justify-center;
        background: $color-exLightPurple;
        width: 30px;
        height: 30px;
        border-radius: 6px;
        transition: 0.6s;
      }
      .while-active-element-count {
        @extend %d-flex-align-justify-center;
        z-index: 10;
        width: 30px;
        height: 30px;
        border-radius: 6px;
        font-size: rem(16px);
      }
    }
    .section-elements:hover {
      background: $color-exLightPurple;
      color: $color-strongPurple;
    }
    .section-elements:hover .while-non-element-count {
      background: transparent;
    }
    .active-section-element {
      background: $color-exLightPurple;
      font-weight: 800;
      color: $color-strongPurple;
      font-family: HelveticaNeueCondensedBlack;
    }
  }
}


.__react_component_tooltip.type-light{



}
.__react_component_tooltip{
  border-radius: 20px!important;
  font-size: 12px!important;
  font-weight: 300;
  color: $color-thickGray!important;
  padding: 6px 25px!important;
}
.leftmenusectt{

}
