@import "../../../../../variables";
@import "../../../../../mixins";

/*----------------------Media Query---------------------*/
 
/*    Device = Most of the Smartphones Mobiles (Portrait)  Screen = B/w 320px to 479px  */
@media (min-width: 320px) and (max-width: 480px) {

  
}


/* Device = Low Resolution Tablets, Mobiles (Landscape) Screen = B/w 481px to 767px */
@media (min-width: 481px) and (max-width: 767px) {


}


/* Device = Tablets, Ipads (landscape) Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  
}

/* Device = Tablets, Ipads (portrait) ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {



}


/* Device = Laptops, Desktops Screen = B/w 1025px to 1280px */
@media (min-width: 1025px) and (max-width: 1280px) {
    .create-ticket-header-text{
        .create-ticket-logo-text{
            font-size: rem(30px)!important;
        }
        .create-ticket-logo-sub-text{
            font-size: rem(12px)!important;
        }
    }
    .selected-item-container {
        .quck-templt-text{
            font-size: rem(12px)!important;
        }
    }
    .ticket-drawer-container{
        .selected-item-container{
            p{
                font-size: rem(14px)!important;
            }
        }
    }
    .priority-container{
        .selected-item-container{
            p{
                font-size: rem(14px)!important;
            }
        }
    }
    .create-ticket-drawer-text-area{
        textarea{
            font-size:rem(14px)!important; 
        }
    }
    .tags-container{
        .selected-item-container {
            p{
                font-size:rem(14px)!important;
            }
        }
    }
    .Source-container {
        .selected-item-container {
            p{
                font-size:rem(14px)!important;
            }
        }
    }
    .create-ticket-attachment{
        .create-ticket-attachment-header-text{
            font-size:rem(12px)!important;
        }
    }
    .create-ticket-drawer-company-text{
        .create-ticket-drawer-company-text-one{
            font-size: rem(14px)!important;
        }
        .create-ticket-drawer-company-text-two{
            font-size: rem(10px)!important;
        }
    }
    .dprtmt-and-team-name{
        .deprt-name{
            font-size: rem(10px)!important;
        }
        .tm-name{
            font-size: rem(10px)!important;
        }
    }

    .snd-cpy-check-box {
        .snd-cpy{
            font-size: rem(12px)!important;
        }
    }

    .create-ticket-email{
        .selected-item-container{
            .eml-text{
                font-size: rem(14px)!important;
            }
        }
        
            .create-ticket-drawer-save-as-template {        
                .ch-save-button {
                    .MuiButton-label {
                        font-size: 14px!important;
                    }
                }
            }
        
            .create-ticket-drawer-submit {
                .ch-submit-button {     
                    .MuiButton-label {
                        font-size: 14px!important;
                    }
                }
            }
        }
        
    }

        .knowledge-base{
            .knowledge-base-header {
    
                .knowledge-header-text {
                    
                    font-size: rem(16px)!important;
                    
                }
            }
        }
    }

    .knwldg-text{
        .knwldg-text-1st, .knwldg-text-next{
            font-size: rem(12px)!important;
        }
    }

    
}


/* Device = Desktops Screen = 1281px to higher resolution desktops */
@media (min-width: 1281px) and (max-width: 1600px) {
    .create-ticket-header-text{
        .create-ticket-logo-text{
            font-size: rem(36px)!important;
        }
        .create-ticket-logo-sub-text{
            font-size: rem(12px)!important;
        }
    }
    .selected-item-container {
        .quck-templt-text{
            font-size: rem(15px)!important;
        }
    }
    .ticket-drawer-container{
        .selected-item-container{
            p{
                font-size: rem(15px)!important;
            }
        }
    }
    .priority-container{
        .selected-item-container{
            p{
                font-size: rem(15px)!important;
            }
        }
    }

    .create-ticket-drawer-text-area{
        textarea{
            font-size:rem(17px)!important; 
        }
    }
    .tags-container{
        .selected-item-container {
            p{
                font-size:rem(15px)!important;
            }
        }
    }
    .Source-container {
        .selected-item-container {
            p{
                font-size:rem(15px)!important;
            }
        }
    }
    .create-ticket-attachment{
        .create-ticket-attachment-header-text{
            font-size:rem(14px)!important;
        }
    }

    .create-ticket-drawer-company-text{
        .create-ticket-drawer-company-text-one{
            font-size: rem(18px)!important;
        }
    }
    .create-ticket-drawer-company-text-two{
        font-size: rem(10px)!important;
    }
    .dprtmt-and-team-name{
        .deprt-name{
            font-size: rem(12px)!important;
        }
        .tm-name{
            font-size: rem(12px)!important;
        }
    }

    .snd-cpy-check-box {
        .snd-cpy{
            font-size: rem(14px)!important;
        }
    }

    .create-ticket-email{
        .selected-item-container{
            .eml-text{
                font-size: rem(15px)!important;
            }
        }
    }

    .create-ticket-drawer-knowledge-container{
        .knowledge-base{
            .knowledge-base-header {
                
                .knowledge-header-text {
                    
                    font-size: rem(18px)!important;
                    
                }
            }
        }
    }

    .knwldg-text{
        .knwldg-text-1st, .knwldg-text-next{
            font-size: rem(14px)!important;
        }
    }

    .create-ticket-drawer-bottom-buttons {
        
        .create-ticket-drawer-save-as-template {        
            .ch-save-button {
                .MuiButton-label {
                    font-size: 16px!important;
                }
            }
        }
    
        .create-ticket-drawer-submit {
            .ch-submit-button {     
                .MuiButton-label {
                    font-size: 16px!important;
                }
            }
        }
    }
}


@media (min-width: 1601px) {
    .create-ticket-header-text{
        .create-ticket-logo-text{
            font-size: rem(48px)
        }
        .create-ticket-logo-sub-text{
            font-size: rem(18px)
        }
    }
    .selected-item-container {
        .quck-templt-text{
            font-size: rem(20px)
        }
    }
    .ticket-drawer-container{
        .selected-item-container{
            p{
                font-size: rem(21px);
            }
        }
    }
    .priority-container{
        .selected-item-container{
            p{
                font-size: rem(21px);
            }
        }
    }

    .create-ticket-drawer-text-area{
        textarea{
            font-size:rem(21px); 
        }
    }
    .tags-container{
        .selected-item-container {
            p{
                font-size:rem(21px);
            }
        }
    }
    .Source-container {
        .selected-item-container {
            p{
                font-size:rem(21px);
            }
        }
    }
    .create-ticket-drawer-company-text{
        .create-ticket-drawer-company-text-one{
            font-size: rem(25px);
        }
        .create-ticket-drawer-company-text-two{
            font-size: rem(12px);
        }
    }
    .dprtmt-and-team-name{
        .deprt-name{
            font-size: rem(14px);
        }
        .tm-name{
            font-size: rem(14px);
        }
    }
    .snd-cpy-check-box {
        .snd-cpy{
            font-size: rem(22px);
        }
    }
    .create-ticket-email{
        .selected-item-container{
            .eml-text{
                font-size: rem(22px);
            }
        }
    }
}



/*----------------------Media Query---------------------*/

.create-ticket-drawer {
    .MuiDrawer-paper {
        width: 100%;
    }
}

.create-ticket-drawer-bodySection {
    width: 100%;
    height: 100%;
    display: flex;

    .create-ticket-left-section {
        display: flex;
        width: 10%;
        height: 100%;

        img {
            width: 13.3%;
            height: 3.3vh;
            margin: 8.6vh 0% 0% 40.6%;
        }
    }

    .crete-ticket-body{
        width: 90%;
        height: 90%;
    }
    .create-ticket-body-component{
        display: flex;
        width: 100%;
        height: 100%;
    }
    .create-ticket-drawer-middle-section {
        width: 65%;
        height: 100%;

        .create-ticket-header-section {
            width: 90%;
            height: 9.3vh;

            margin: 8.4vh 5% 0% 5%;

            .create-ticket-header-text {
                width: 48%;
                height: 9.3vh;

                .create-ticket-logo-text {
                    font-size: rem(48px);
                    font-weight: bold;
                    font-stretch: condensed;
                    line-height: 0.79;
                    letter-spacing: 0.96px;
                    text-align: left;
                    color: $color-lightViolet;
                    font-family: 'helveticaNeueCondensedBold';
                    margin-bottom: 0px !important;
                }

                .create-ticket-logo-sub-text {
                    font-size: 18px;
                    font-weight: 300;
                    font-stretch: normal;
                    font-style: normal;
                    letter-spacing: 0.36px;
                    text-align: left;
                    color: $color-lightGray;
                    font-family: "helveticaNeueLight";
                }
            }

        }

        .create-ticket-drawer-title {
            width: 90%;
            height: 6vh;
            margin: 0% 5% 0% 5%;

            .ticket-title-form {
                height: 100%;
                .MuiFormControl-root {
                    width: 100%;
                    height: 100%;
                    margin-top: 0px!important;
                    margin-bottom: 0px!important;

                    .MuiInput-underline:before {
                        border-bottom: 1px solid $color-borderLightGray !important;
                    }

                    .MuiInput-underline:after {
                        border-bottom: none !important;
                    }

                    .MuiFormLabel-root {
                        font-size: 18px;
                        font-weight: 800;
                        color: $color-thickGray;

                        .MuiFormLabel-asterisk {
                            color: $color-red;
                        }
                    }
                }
            }
        }

        .create-ticket-drawer-ticket-type-priority {
            width: 90%;
            height: 6.5vh;
            margin: 3.3vh 5% 0 5%;

            .create-ticket-drawer-priority {
                width: 48%;
                height: 100%;

                .MuiFormControl-root {
                    width: 100%;
                    height: 100%;

                    .MuiInputLabel-formControl {
                        top: -14px !important;
                        left: 14px !important;
                        font-size: 18px;
                        font-weight: 300;

                        .MuiFormLabel-asterisk {
                            color: $color-red;
                        }
                    }

                    .MuiInputBase-root {
                        margin-top: 0px !important;

                        .MuiSelect-select {
                            padding-left: 10px;
                            color: $color-thickGray;
                        }

                        .MuiSelect-icon {
                            right: 12px;
                        }
                    }

                    .MuiInput-underline:before {
                        border-bottom: none !important;
                    }

                    .MuiInput-underline:after {
                        border-bottom: none !important;
                    }

                    .MuiInput-underline {
                        border: 1px solid $color-borderLightGray;
                        border-radius: 20px;
                        height: 40px;
                    }
                }

            }
        }

    }

    .create-ticket-drawer-text-area {
        width: 90%;
        height: 12.1vh;
        margin: 3.3vh 5% 4.3vh 5%;

        textarea {
            width: 98%;
            height: 98%!important;
            border-radius: 10px;
            border: 1px solid $color-lightGray!important;
            padding: 1%!important;
            // height: 100px !important;
            // padding: 10px !important;
            font-size: rem(22px);
        }
    }

    .create-ticket-drawer-tags-source {
        width: 90%;
        height: 6.5vh;
        margin: 0% 5% 0% 5%;

        .create-ticket-drawer-tags {
            width: 48%;
            height: 100%;

            .MuiFormControl-root {
                width: 100%;
                height: 100%;

                .MuiInputLabel-formControl {
                    top: -11px;
                    left: 14px;
                    font-size: 18px;
                    font-weight: 300;
                }

                .MuiInputLabel-root {
                    width: 100%;
                }

                .create-ticket-drawer-menu-item {
                    width: 100%;
                    height: 40px;

                    .MuiInputBase-root {
                        width: 100%;
                        height: 40px;
                        border: 1px solid $color-borderLightGray;
                        border-radius: 20px;

                        .MuiSelect-icon {
                            display: none;
                        }
                    }

                    .MuiInput-underline:before {
                        border: none !important;
                    }

                    .MuiInput-underline:after {
                        border: none !important;
                    }
                }
            }
        }
    }

    .create-ticket-drawer-source {
        width: 48%;
        height: 100%;

        .MuiFormControl-root {
            width: 100%;
            height: 40px;

            .MuiInputLabel-formControl {
                top: -14px !important;
                left: 14px !important;
                font-size: 18px;
                font-weight: 300;

                .MuiFormLabel-asterisk {
                    // color:$color-red;
                    display: none;
                }
            }

            .MuiInputBase-root {
                margin-top: 0px !important;

                .MuiSelect-select {
                    padding-left: 10px;
                    color: $color-thickGray;
                }

                .MuiSelect-icon {
                    right: 12px;
                }
            }

            .MuiInput-underline:before {
                border-bottom: none !important;
            }

            .MuiInput-underline:after {
                border-bottom: none !important;
            }

            .MuiInput-underline {
                border: 1px solid $color-borderLightGray;
                border-radius: 20px;
                height: 40px;
            }
        }

    }

    .create-ticket-drawer-right-section {
        width: 30%;
        height: 100%;
    }
}



.attachment-container>p {
    font-size: 14px;
    font-weight: bolder;
    color: $color-lightGray;
    text-align: left;
    margin: 0px !important;
}

.attachment-container-field {
    width: 102%;
    height: 60px;
    border: 1px dashed $color-lightGray;
    border-radius: 8px;
    margin: 0 auto;
    text-align: center;
}

.attachment-container-field>p {
    margin: 0px !important;
    color: $color-lightGray;
}

.attachment-container-field>p>span {
    color: $color-skyBlue;
}


.create-ticket-drawer-body-right {
    width: 100%;
    height: 100%;
}

.crt-ticket-drawer-company-details {
    width: 80%;
    height: 10.7vh;
    border: 1px dashed $color-violet;
    margin:8.4vh 10% 2.8vh 10%;
    border-radius: 8px;
    .crt-ticket-company-description{
        .create-tckt-cmpny-img{
            img{
                width: 20%;
                margin: 4%;
            }
            .create-ticket-drawer-company-text{
                margin: 4% 0% 0% 0%;
            }
        }
    }
}

.create-ticket-drawer-company-text {
    p {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        // margin-left: 5px !important;
    }

    .create-ticket-drawer-company-text-one {
        font-size: rem(25px);
        font-weight: bolder;
        color: $color-thickGray;
    }

    .create-ticket-drawer-company-text-two {
        font-size: 12px;
        color: $color-lightGray;
    }

   
}

.create-ticket-drawer-assign-to {
    width: 80%;
    height: 6.1vh;
    margin: 0% 10% 2.8vh 10%;
    .menu-container{
        .open-dropdown{
            height: 35.8vh;
        }

    }

    .MuiFormControl-root {
        width: 100%;
        height: 40px;

        .MuiInputLabel-formControl {
            top: -14px !important;
            left: 14px !important;
            font-size: 18px;
            font-weight: 300;

            .MuiFormLabel-asterisk {
                // color:$color-red;
                display: none;
            }
        }

        .MuiInputBase-root {
            margin-top: 0px !important;

            .MuiSelect-select {
                padding-left: 10px;
                color: $color-thickGray;
            }

            .MuiSelect-icon {
                right: 12px;
            }
        }

        .MuiInput-underline:before {
            border-bottom: none !important;
        }

        .MuiInput-underline:after {
            border-bottom: none !important;
        }

        .MuiInput-underline {
            border: 1px dashed $color-borderLightGray;
            border-radius: 20px;
            height: 40px;
        }
    }
}



.create-drawer-sell-All {
    width: 100%;

    p {
        border-bottom: 0px;
        text-align: right;
        color: $color-violet;
        padding-right: 10px;
    }
}

.create-ticket-drawer-knowledge-container {
    .knowledge-base {
        width:95%;
        margin: 2.5%;
        height: 10%;
        .knowledge-base-header {
            width: 80%;
            height: 100%;
            img {
                width: 8.3%;
                height: 2.5vh;
            }

            .knowledge-header-text {
                margin-left: 10px;
                font-size: rem(29px);
                font-weight: 600;
                color: rgba(78, 88, 169, 0.5);
            }
        }

        .knowledge-search {
            margin-right: 10px;
            border: 1px solid $color-borderLightGray;
            border-radius: 8px;
            width: 10%;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(78, 88, 169, 0.03)
        }
    }
}

.knowledge-base-value {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 5px;
    background-color: $color-white;
    display: flex;
    align-items: end;
    justify-content: center;

    p {
        color: $color-borderLightGray;
        font-size: 14px;
        font-weight: 800;
    }
}


.create-ticket-drawer-bottom-buttons {
    width: 90%;
    height: 8%;
    margin: 0% 8% 0% 2%;

    .create-ticket-drawer-save-as-template {
        width: 50%;
        height: 6.5vh;

        .ch-save-button {
            width: 30%;
            height: 100%;
            border: 1px dashed $color-lightGray;
            background-color: #ffffff !important;
            padding: 0px !important;
            border-radius: 100px !important;

            .MuiButton-label {
                font-size: 22px;
                font-weight: bolder;
                color: $color-lightGray;
                text-transform: none;
            }
        }
    }

    .create-ticket-drawer-submit {
        width: 50%;
        height: 6.5vh;

        .ch-submit-button {
            width: 40%;
            height: 100%;
            background-color: $color-green !important;
            padding: 0px !important;
            border-radius: 100px !important;

            .MuiButton-label {
                font-size: 22px;
                font-weight: bolder;
                color: $color-white;
            }
        }
    }



}



//////////////////////Drop Down////////////
.menu-container {
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
    transition: 0.5s;
}

.custome-non-library-multi {
    position: relative;
    border: 1px dashed $color-lightGray;
    height: 100%;
    background: $color-white;

    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 1002;
}

.custome-non-library-multi>.selected-item-container {
    margin-left: 1%;
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
}

.custome-non-library-multi>img {
    width: 12px;
    height: 30px;
    margin-right: 5%;
    cursor: pointer;
}

.menu-container>.dropdown-menu-container {
    position: absolute;
    border-radius: 20px 20px 5px 5px;
    top: 2.4vh;
    left: 0;
    width: 100%;
    background: $color-white;
    box-shadow: 0 0 30px rgba(131, 131, 131, 0.5);
    z-index: 1001 !important;
    transition: 0.5s;

}

ul {
    list-style: none;
    padding: 0;
}

li {
    //  border: 1px solid red;
}

.open-dropdown {
    height: 270px;
    overflow: auto;
    padding-top: 5vh;
    transition: 0.5s;

}

.close-dropdown {
    height: 0;
    transition: 0.5s;
    overflow: hidden;
}

.selected-item-template {
    // border: 1px solid red;
    display: flex;
    align-items: center;
    border-radius: 100px;
    padding: 0 4px;
    margin: 0 8px;

}

.selected-item-template>img {
    border-radius: 100px;
    height: 30px;
    width: 30px;
    margin-right: 15px;
}

.create-drop-assign-to {
    font-size: 9px;
    font-weight: 300;
    color: $color-lightGray;
    padding: 3%;

    img {
        width: 25%;
        border-radius: 50%;
    }
}

.create-drop-profile-name {
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.32px;
    font-family: "helveticaNeueLight";
    color: black;
}

.dropdown-menu-container {
    overflow: hidden;

    .MuiTabs-root {
        .MuiTabs-fixed {
            .MuiTabs-indicator {
                background-color: $color-strongPurple !important;
            }

            .MuiTabs-flexContainer {
                .Mui-selected {
                    color: $color-strongPurple !important;
                }

                .MuiButtonBase-root {
                    width: 50% !important;
                    min-width: auto !important;
                    max-width: auto !important;

                    .MuiTab-wrapper {
                        font-size: 14px;
                        font-weight: 500;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1;
                        letter-spacing: normal;
                        font-family: "helveticaNeueLight";

                    }
                }
            }
        }
    }

    .MuiTypography-root {
        .MuiBox-root {
            padding: 10px !important;
        }
    }
}

.tab-panel-one {
    img {
        width: 25px;
        height: 25px;
        border-radius: 100px;
    }

    .assign-to-profile-name {
        padding-left: 10px;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.14;
        letter-spacing: normal;
        font-family: "helveticaNeueLight";
        color: $color-dimGray;
    }

    .MuiButtonBase-root {
        width: 15% !important;
        margin-right: 10px !important;
    }
}

.tab-panel-container {
    height: 110px;
    overflow: hidden;
    margin-top: 2%;
}

.tab-panel-container-search-bar {
    width: 100%;
    height: 30px;
    margin: 0 auto;
    border: 1px solid #d0cfec;
    border-radius: 100px;

    .MuiInputBase-root {
        width: 90%;

        .MuiInputBase-input {
            padding: 6px 10px 7px !important;
        }
    }

    .MuiSvgIcon-root {
        color: #d0cfec !important;
        margin: 2px 4px !important;
        font-size: 25px;
    }
}


/////////////////Multiple Tags/////////

.create-ticket-drawer-tags {
    width: 48%;
    height: 100%;

    .menu-container {
        width: 100%;
        height: 100%;
        position: relative;
        margin: auto;
        transition: 0.5s;

        .tags-container {
            position: relative;
            border: 1px solid $color-lightGray;
            height: 100%;
            background: $color-white;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            z-index: 996;
            cursor: pointer;

            .selected-item-container {
                // margin-left: 1%;
                width: 85%;
                height: 100%;
                display: flex;
                align-items: center;

                p{
                    font-size: rem(21px);
                    color: $color-thickGray;
                    padding-left: 5%;;
                    font-weight: 590;
                    width: 100%;
                }
            }

            .tag-drp-dwn-img {
                width: 15%;
                // margin-right: 1%;
                display: flex;
                justify-content: center;
                // border: 1px dashed $color-violet;
                border-radius: 50%;
                height: 50%;

                img {
                    width: 20px;
                }
            }
        }

        .tag-open-dropdown {
            height: 31.6vh;
            overflow: auto;
            padding-top: 5vh;
            transition: 0.5s;

        }

        .tag-dropdown-menu-container {
            position: absolute;
            border-radius: 20px 20px 5px 5px;
            top: 2.4vh;
            left: 0;
            width: 100%;
            // height: 31.6vh;
            background: $color-white;
            box-shadow: 0 0 30px rgba(131, 131, 131, 0.5);
            z-index: 100 !important;
            transition: 0.5s;
            overflow: hidden;

            hr{
                width: 100%;
                margin: 1vh 0% 0% 0%;
                color:$color-lightGray;
            }

            .create-ticket-search-tag {
                width: 90%;
                height: 4vh;
                margin: 2vh 5% 1vh 5%;

                .MuiInputBase-root {
                    width: 90%;
                    border: 1px solid $color-lightGray;
                    border-radius: 100px;

                    .MuiInputBase-input {
                        padding: 6px 10px 7px;
                        color: $color-thickGray;
                    }
                }

                img {
                    width: 6%;
                }
            }

            .MuiButtonBase-root {
                width: 100% !important;
                margin: 0 auto !important;
                background-color: transparent !important;
                box-shadow: none !important;
                border-radius: 25px;
                height: 5vh;
                min-height: 5vh;
                padding: 0px !important;
                min-height: 30px !important;
                display: flex;
                align-items: center;
                justify-content: center;
                // margin: 1% auto;

            }

            .create-tckt-drawer-color-picker {
                width: 90%;
                border: 1px solid $color-lightGray;
                margin: 2vh 5% 0% 5%;
                border-radius: 100px;
                height: 4vh;
                justify-content: center;
                align-items: center;

                img {
                    width: 18px;
                    margin-left: 5px;
                }

                .ticket-circle-color-picker {
                    width: 90%;
                    margin-left: 10px;
                }
            }
        }

        .custom-scroll {
            width: 98% !important;
            height: 16vh!important;
        }
    }
}


.create-ticket-one-tag:hover {
    background-color: $color-lightWhite;
}

.create-ticket-one-tag {
    height: 30px;
    margin: 0% 2.5% 0% 2.5%;
    align-items: center;
    border-radius: 100px;
    width: 95%;
    align-items: center !important;
    z-index: 10;

    // .create-ticket-tag-radio{
    //     width: 10%;
    // }
    img {
        width: 12px;
    }

    .create-ticket-tag-img-text {
        width: 95%;

        .create-ticket-tag-check {
            .Mui-checked {
                color: $color-green !important;
            }

            .MuiButtonBase-root {
                padding: 0px !important;

                .MuiIconButton-label {
                    .MuiSvgIcon-root {
                        width: 16px !important;
                    }
                }
            }
        }


        .create-ticket-tag-check {
            width: 10%;
        }

        p {
            color: #c8c8c8 !important;
            margin-bottom: 0px !important;
            margin-left: 2%;
            font-size: 15px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.17;
            letter-spacing: normal;
            font-family: "helveticaNeueLight";
            display: flex;
            align-items: center;
        }
    }

}

.color-pallet-popup-for-tags {
    position: absolute;
    padding: 10px;
    z-index: 100;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    background: #FFFFFF;
    // @include heighWidth(130px, 175px);
    height: 160px;
    width: 175px;
    top: 55px;
    left: 10px;

    span {
        font-size: 1.15rem;
        font-family: 'helveticaNeueCondensedBold';
        font-stretch: normal;
        font-style: normal;
        color: $color-lightViolet;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 0.9rem;
    }

    .twitter-picker {
        box-shadow: none !important;
        width: 162px !important;

        //   height: 135px!important;
        div {
            padding: 0 !important;

            span {
                div {
                    height: 17px !important;
                    width: 17px !important;
                }
            }

            div:last-child {}
        }
    }
}

.color-pallet-popup-for-tags:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ffffff;
    top: 160px;
    left: 25px;
}

.ticket-circle-color-picker {
    // .circle-picker{
    //     align-items: center!important;
    //     flex-wrap: inherit!important;
    // margin-right: 0px!important;
    // margin-bottom: 0px!important;
    // width: 130px!important;

    //  span:nth-child(9), span:nth-child(10), span:nth-child(11), span:nth-child(12), span:nth-child(13), span:nth-child(14), span:nth-child(15),span:nth-child(16),span:nth-child(17),span:nth-child(18){
    //     display: none;

    // }  

    // }
}

// .ticket-circle-color-picker> .circle-picker> span:nth-child(1)> div{
//     width: 18px!important;
//     height: 18px!important;
//     margin-left: 12px;
//     margin-bottom: 0px!important;
//     margin-right: 3px!important;
// }

// .ticket-circle-color-picker> .circle-picker> span:nth-child(2)> div, .ticket-circle-color-picker> .circle-picker> span:nth-child(3)> div, .ticket-circle-color-picker> .circle-picker> span:nth-child(4)> div, .ticket-circle-color-picker> .circle-picker> span:nth-child(5)> div, .ticket-circle-color-picker> .circle-picker> span:nth-child(6)> div, .circle-picker> span:nth-child(7)> div, .circle-picker> span:nth-child(8)> div{
//     width: 18px!important;
//     height: 18px!important;
//     margin-left: 12px;
//     margin-bottom: 0px!important;
//     margin-right: 3px!important;
// }

///////////////Quick create//////////////////

.create-ticket-header-drop-down {
    width: 48%;
    height: 6.6vh;

    .menu-container {
        width: 100%;
        height: 100%;
        position: relative;
        margin: auto;
        transition: 0.5s;

        .quick-create-template {
            position: relative;
            border: 1px solid $color-lightGray;
            height: 100%;
            background: $color-white;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            z-index: 1000;

            .selected-item-container {
                // margin-left: 1%;
                width: 85%;
                height: 100%;
                display: flex;
                align-items: center;

                p {
                    font-size: 18px;
                    color: $color-thickGray;
                    padding-left: 5%;;
                    font-weight: 590;
                    width: 100%;
                }
            }

            .quick-drp-dwn-img {
                width: 7.5%;
                margin-right: 0%;
                display: flex;
                justify-content: center;
                border: 1px dashed $color-violet;
                border-radius: 50%;
                height: 52.1%;
                img{
                    width: 41%;
                }
            }
        }

        .open-dropdown {
            height: 240px;
            overflow: auto;
            padding-top: 5vh;
            transition: 0.5s;

        }

        .dropdown-menu-container {
            position: absolute;
            border-radius: 20px 20px 5px 5px;
            top: 2.4vh;
            left: 0;
            width: 100%;
            background: $color-white;
            box-shadow: 0 0 30px rgba(131, 131, 131, 0.5);
            z-index: 999 !important;
            transition: 0.5s;
            overflow: hidden;

            .MuiButtonBase-root {
                width: 90% !important;
                margin: 0 auto !important;
                background-color: $color-white !important;
                box-shadow: none !important;
                border-radius: 25px;
                height: 40px;
                min-height: 40px;
                padding: 0px !important;
                min-height: 30px !important;
                // margin: 1% auto;

            }
        }

        .quick-create-search-bar {
            width: 85%;
            margin: 0 auto;
            border: 1px solid rgba(78, 88, 169, 0.1);
            ;
            border-radius: 100px;

            .MuiInputBase-root {
                width: 90%;

                .MuiInputBase-input {
                    padding: 6px 10px 7px;
                }
            }

            .MuiSvgIcon-root {
                color: $color-borderLightGray !important;
            }
        }

        .custom-scroll {
            width: 98% !important;
        }
    }
}


// .quick-create-template > img { 
//   width: 20px;
//   height: 30px;
//   margin-right: 3%;
//   cursor: pointer;
// }

.quick-create-ticket-one:hover {
    background-color: $color-lightWhite;
}

.quick-create-ticket-one {
    height: 40px;
    margin-top: 3%;
    align-items: center;
    border-radius: 100px;
    width: 100%;
    align-items: center !important;

    img {
        margin-left: 3%;
        display: flex;
        align-items: center;
        width: 15px;
    }

    p {
        color: #c8c8c8 !important;
        margin-bottom: 0px !important;
        margin-left: 2%;
        font-size: 15px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: normal;
        font-family: "helveticaNeueLight";
    }
}

/////////Create ticket source drop down
.create-ticket-drawer-source {
    width: 48%;
    height: 100%;

    .menu-container {
        width: 100%;
        height: 100%;
        position: relative;
        margin: auto;
        transition: 0.5s;

        .Source-container {
            position: relative;
            border: 1px solid $color-lightGray;
            height: 100%;
            background: $color-white;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            z-index: 996;

            .selected-item-container {
                // margin-left: 1%;
                width: 85%;
                height: 100%;
                display: flex;
                align-items: center;

                p {
                    width: 100%;
                    font-size: rem(21px);
                    color: $color-thickGray;
                    padding-left: 5%;;
                    font-weight: 590;
                }
            }

            .src-drp-dwn-img {
                width: 15%;
                // margin-right: 1%;
                display: flex;
                justify-content: center;
                // border: 1px dashed $color-violet;
                border-radius: 50%;
                height: 50%;

                img {
                    width: 12px;
                }
            }
        }

        .open-dropdown {
            height: 31.6vh;
            overflow: auto;
            padding-top: 5vh;
            transition: 0.5s;

        }

        .dropdown-menu-container {
            position: absolute;
            border-radius: 20px 20px 5px 5px;
            top: 2.4vh;
            left: 0;
            width: 100%;
            background: $color-white;
            box-shadow: 0 0 30px rgba(131, 131, 131, 0.5);
            z-index: 1 !important;
            transition: 0.5s;
            overflow: hidden;

            .MuiButtonBase-root {
                width: 90% !important;
                margin: 0 auto !important;
                background-color: transparent !important;
                box-shadow: none !important;
                border-radius: 25px;
                height: 40px;
                min-height: 40px;
                padding: 0px !important;
                min-height: 30px !important;
                // margin: 1% auto;

            }
        }

        .custom-scroll {
            width: 98% !important;
        }
    }
}


.create-ticket-one-source:hover {
    background-color: $color-lightWhite;
}

.create-ticket-one-source {
    height: 35px;
    margin-top: 0%;
    align-items: center;
    border-radius: 100px;
    width: 100%;
    align-items: center !important;

    .create-ticket-src-radio {
        width: 10%;
    }

    .create-ticket-src-img-text {
        width: 90%;

        img {
            margin-left: 3%;
            display: flex;
            align-items: center;
            width: 15px;
        }

        p {
            color: #c8c8c8 !important;
            margin-bottom: 0px !important;
            margin-left: 2%;
            font-size: 15px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.17;
            letter-spacing: normal;
            font-family: "helveticaNeueLight";
        }
    }

}

////////////////Create Ticket Priority/////////////////
.create-ticket-drawer-priority {
    width: 48%;
    height: 100%;

    .menu-container {
        width: 100%;
        height: 100%;
        position: relative;
        margin: auto;
        transition: 0.5s;

        .priority-container {
            width: 100%;
            position: relative;
            border: 1px solid $color-lightGray;
            height: 100%;
            background: $color-white;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            z-index: 998;
            cursor: pointer;

            .selected-item-container {
                // margin-left: 1%;
                width: 85%;
                height: 100%;
                display: flex;
                align-items: center;

                p {
                    font-size: rem(21px);
                    color: $color-thickGray;
                    padding-left: 5%;;
                    font-weight: 590;
                    width: 100%;
                }
            }

            .priority-drp-dwn-img {
                width: 15%;
                // margin-right: 1%;
                display: flex;
                justify-content: center;
                // border: 1px dashed $color-violet;
                border-radius: 50%;
                height: 50%;

                img {
                    width: 12px;
                }
            }
        }

        .priority-open-dropdown {
            height: 21vh;
            overflow: auto;
            padding-top: 5vh;
            transition: 0.5s;

        }

        .priority-dropdown-menu-container {
            position: absolute;
            border-radius: 20px 20px 5px 5px;
            top: 2.4vh;
            left: 0;
            width: 100%;
            background: $color-white;
            box-shadow: 0 0 30px rgba(131, 131, 131, 0.5);
            z-index: 997 !important;
            transition: 0.5s;
            overflow: hidden;

            .MuiButtonBase-root {
                width: 100% !important;
                margin: 0 auto !important;
                background-color: transparent !important;
                box-shadow: none !important;
                border-radius: 25px;
                height: 5vh;
                // min-height: 40px;
                padding: 0px !important;
                min-height: 30px !important;
                // margin: 1% auto;

            }
        }

        .custom-scroll {
            width: 98% !important;
        }
    }
}


.create-ticket-one-priority:hover {
    background-color: $color-lightWhite;
}

.create-ticket-one-priority {
    height: 35px;
    margin: 0% 2.5% 0% 2.5%;
    align-items: center;
    border-radius: 100px;
    width: 95%;
    align-items: center !important;

    .create-ticket-src-radio {
        width: 10%;
    }

    .create-ticket-prio-img-text {
        width: 90%;

        img {
            margin-left: 3%;
            display: flex;
            align-items: center;
            width: 10px;
        }

        p {
            color: #c8c8c8 !important;
            margin-bottom: 0px !important;
            margin-left: 2%;
            display: flex;
            align-items: center;
            font-size: 15px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.17;
            letter-spacing: normal;
            font-family: "helveticaNeueLight";
        }
    }

}

////////////////////////Email Drop Down///////////////

.create-ticket-drawer-email {
    width: 80%;
    height: 6.5vh;
    margin: 0% 10% 3.8vh 10%;

    .menu-container {
        width: 100%;
        height: 100%;
        position: relative;
        margin: auto;
        transition: 0.5s;

        .create-ticket-email {
            position: relative;
            border: 1px solid $color-lightGray;
            height: 100%;
            background: $color-white;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            z-index: 1000;

            .selected-item-container {
                // margin-left: 1%;
                width: 85%;
                height: 100%;
                display: flex;
                align-items: center;

                .eml-text {
                    font-size: rem(22px);
                    color: $color-thickGray;
                    padding-left: 4%;;
                    font-weight: 590;
                    width: 100%;
                }

                img {
                    width: 7%;
                    margin-left: 4%;
                }
            }

            .email-drp-dwn-img {
                width: 15%;
                margin-right: 1%;
                display: flex;
                justify-content: center;
                border-radius: 50%;
                height: 50%;

                img {
                    width: 12px;
                }
            }
        }

        .open-dropdown {
            height: 200px;
            overflow: auto;
            padding-top: 5vh;
            transition: 0.5s;

        }

        .dropdown-menu-container {
            position: absolute;
            border-radius: 20px 20px 5px 5px;
            top: 2.4vh;
            left: 0;
            width: 100%;
            background: $color-white;
            box-shadow: 0 0 30px rgba(131, 131, 131, 0.5);
            z-index: 1 !important;
            transition: 0.5s;
            overflow: hidden;

            .MuiButtonBase-root {
                width: 90% !important;
                margin: 0 auto !important;
                background-color: transparent !important;
                box-shadow: none !important;
                border-radius: 25px;
                height: 40px;
                min-height: 40px;
                padding: 0px !important;
                min-height: 30px !important;
                // margin: 1% auto;

            }
        }

        .custom-scroll {
            width: 98% !important;
        }
    }
}


// .quick-create-template > img { 
//   width: 20px;
//   height: 30px;
//   margin-right: 3%;
//   cursor: pointer;
// }

.create-ticket-one-email:hover {
    background-color: $color-lightWhite;
}

.create-ticket-one-email {
    height: 35px;
    margin-top: 0%;
    align-items: center;
    border-radius: 100px;
    width: 100%;
    align-items: center !important;

    .create-ticket-email-radio {
        width: 10%;

        .Mui-checked {
            color: #7ac9ff;
        }
    }

    .create-ticket-email-img-text {
        width: 90%;
        align-items: center;

        img {
            margin-left: 3%;
            display: flex;
            align-items: center;
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }

        p {
            color: #c8c8c8 !important;
            margin-bottom: 0px !important;
            margin-left: 2%;
            font-size: 15px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.17;
            letter-spacing: normal;
            font-family: "helveticaNeueLight";
            height: 20px;
            display: flex;
            align-items: flex-end;
        }
    }

}

//////////////////Ticket Type/////////////// 
.create-ticket-drawer-ticket-type {
    width: 48%;
    height: 100%;

    .menu-container {
        width: 100%;
        height: 100%;
        position: relative;
        margin: auto;
        transition: 0.5s;

        .ticket-drawer-container {
            width: 100%;
            position: relative;
            border: 1px solid $color-lightGray;
            height: 100%;
            background: $color-white;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            z-index: 998;
            cursor: pointer;

            .selected-item-container {
                // margin-left: 1%;
                width: 85%;
                height: 100%;
                display: flex;
                align-items: center;

                p {
                    font-size: rem(21px);
                    color: $color-thickGray;
                    padding-left: 5%;
                    font-weight: 590;
                    width: 100%;
                }
            }

            .ticket-drp-dwn-img {
                width: 15%;
                // margin-right: 1%;
                display: flex;
                justify-content: center;
                // border: 1px dashed $color-violet;
                border-radius: 50%;
                height: 50%;

                img {
                    width: 12px;
                }
            }
        }

        .ticket-type-open-dropdown {
            height: 17vh;
            overflow: auto;
            padding-top: 5vh;
            transition: 0.5s;
            box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.16);

        }

        .ticket-type-dropdown-menu-container {
            position: absolute;
            border-radius: 20px 20px 5px 5px;
            top: 2.4vh;
            left: 0;
            width: 100%;
            background: $color-white;
            box-shadow: 0 0 30px rgba(131, 131, 131, 0.5);
            z-index: 997 !important;
            transition: 0.5s;
            overflow: hidden;

            .MuiButtonBase-root {
                width: 100% !important;
                margin: 0 auto !important;
                background-color: transparent !important;
                box-shadow: none !important;
                border-radius: 25px;
                height: 5vh;
                min-height: 5vh;
                padding: 0px !important;
                min-height: 30px !important;
                // margin: 1% auto;

            }
        }

        .custom-scroll {
            width: 98% !important;
        }
    }
}


.create-ticket-one-tckt-typ:hover {
    background-color: $color-lightWhite;
}

.create-ticket-one-tckt-typ {
    height: 35px;
    margin: 0% 2.5% 0% 2.5%;
    align-items: center;
    border-radius: 100px;
    width: 95%;
    align-items: center !important;

    .create-ticket-src-radio {
        width: 10%;
    }

    .create-ticket-tckt-img-text {
        width: 90%;

        img {
            margin-left: 3%;
            display: flex;
            align-items: center;
            width: 10px;
        }

        p {
            color: #c8c8c8 !important;
            margin-bottom: 0px !important;
            margin-left: 2%;
            display: flex;
            align-items: center;
            font-size: 15px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.17;
            letter-spacing: normal;
            font-family: "helveticaNeueLight";
        }
    }

}


///////////////////////Knowledge base curve//////////

// width: 80%;
// margin: 10% auto;
// border-radius: 10px;
// background-color: #F9F9F9;
// border: 1px dashed $color-violet;

.create-ticket-drawer-knowledge-container {
    width: 80%;
    // height: 200px;
    height: 33.2vh;
    border-top: 1px dashed $color-strongPurple;
    border-bottom: 1px dashed $color-strongPurple;
    margin: 0% 10% 0% 10%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;

}

.create-ticket-drawer-knowledge-container-two {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgba(78, 88, 169, 0.03);
    .knowledge-questions{
        height: 18%;
        .knwldg-text{
            width: 85%;
            height: 100%;
            .knwldg-text-1st, .knwldg-text-next{
                font-size: rem(18px);
                color: $color-dimGray;
                margin-left: 3%;
            }
        }
    }

}

.create-ticket-drawer-knowledge-container::before,
.create-ticket-drawer-knowledge-container::after {
    content: '';
    z-index: -1;
    position: absolute;
}

.create-ticket-drawer-knowledge-container-two::before,
.create-ticket-drawer-knowledge-container-two::after {
    content: '';
    z-index: -1;
    position: absolute;
}

.create-ticket-drawer-knowledge-container::before {
    // border-top: 1px dashed black;
    // left: 0;
    // right: 0;
    // top: 0;
    // height: 2px;  
    top: 0;
    bottom: 0;
    border-right: 1px dashed $color-strongPurple;
    border-radius: 10px;
}

.create-ticket-drawer-knowledge-container-two::before {
    // border-top: 1px dashed black;
    // left: 0;
    // right: 0;
    // top: 0;
    // height: 2px;  
    top: 0;
    bottom: 0;
    right: 0;
    border-left: 1px dashed $color-strongPurple;
    border-radius: 10px;
}

.create-ticket-drawer-knowledge-container::after {
    border-radius: 100%;
    top: 16vh;
    width: 3.5%;
    height: 2vh;
    border: 1px dashed $color-strongPurple;
    left: -2%;
    background-color: white;
}

.create-ticket-drawer-knowledge-container-two::after {
    border-radius: 100%;
    top: 16vh;
    width: 3.5%;
    height: 2vh;
    border: 1px dashed $color-strongPurple;
    right: -2%;
    background-color: white;
}


//////////////////////////////////////////////// Attachment
// .create-ticket-attachment {
//     margin: 20px auto;
//     width: 95%;
//     .create-ticket-file-attach-button {
//       width: 100%;
//       height: 100px;
//       background: url('../../../../../assets/create-habit/Group 11382.svg');
//       background-repeat: no-repeat;
//       background-size: 25px 25px;
//       background-position: 50% 20%;
//       cursor: pointer;
//       position: relative;
//     }
//     span:nth-child(1) {
//         font-size: 1.15rem;
//         font-family: 'helveticaNeueCondensedBold';
//         font-stretch: normal;
//         font-style: normal;
//         color: $color-lightViolet;
//         font-weight: 600;
//         text-transform: uppercase;
//     }
//     .create-tckt-file-attach-section {
//       height: 100px;
//       justify-content: space-between;
//       flex-direction: column;
//       text-align: center;
//       display: flex;
//       .create-ticket-file-upload-field{
//         border: 1px dashed $color-lightGray;
//         border-radius: 10px;
//       }
//       img{
//         width: 70px;
//         height: 70px;
//         cursor: pointer;
//         margin: 12px;
//       }

//       p{
//           position: absolute;
//           left: 44%;
//           top: 83%;
//       }
//     }
//     span:nth-child(2) {
//       color: $color-skyBlue;
//     }
//   }

//   .file-attach-full-width{
//       width: 100%;
//   }

//   .file-upload-after-width{
//       width: 20%;
//   }

//   .custom-attach-file-input {
//     position: relative;
//     z-index: 2;
//     width: 100%;
//     height: calc(4.5em + .45rem + 0px);
//     margin: 0;
//     opacity: 0;
// }

// .create-tckt-file-attach-section::before{
//     display: flex;
// }


/* .create-ticket-attachment {
  margin: 20px auto;
  width: 95%;
  .create-ticket-file-attach-button {
  //   width: 100%;
    height: 100px;
    background: url('../../../../../assets/create-habit/Group 11382.svg');
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: 50% 20%;
    cursor: pointer;
    position: relative;
  }
  span:nth-child(1) {
      font-size: 1.15rem;
      font-family: 'helveticaNeueCondensedBold';
      font-stretch: normal;
      font-style: normal;
      color: $color-lightViolet;
      font-weight: 600;
      text-transform: uppercase;
  }
  .create-tckt-file-attach-section {
    height: 100px;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    display: flex;
    .create-ticket-file-upload-field{
      border: 1px dashed $color-lightGray;
      border-radius: 10px;
    }
    img{
      width: 70px;
      height: 70px;
      cursor: pointer;
      margin: 12px;
    }
    
    p{
        position: absolute;
        left: 44%;
        top: 83%;
    }
  }
  span:nth-child(2) {
    color: $color-skyBlue;
  }
} */

.create-ticket-attachment {
    margin: 3.3vh 5% 0% 5%;
    width: 90%;
    height: 14vh;

    .create-ticket-attachment-header-text {
        font-size: rem(16px);
        font-family: 'helveticaNeueCondensedBold';
        font-stretch: normal;
        font-style: normal;
        color: $color-lightGray;
        font-weight: 500;
        text-transform: uppercase;
        // margin-bottom: 1vh;
    }

    .uploaded-image-and-attach {
        display: flex;
        overflow-x: auto;
        height: 80%;

        img {
            width: 10%;
            height: 85%;
            cursor: pointer;
            margin: 4px;
            z-index: 10000;
            border-radius: 5px;
        }

        .attach-drg-text-container {
            //   position: absolute;
            //   left: 44%;
            //   top: 84%;


        }

        .create-tckt-file-attach-section::before {
            display: flex;
        }

        .create-tckt-file-attach-section {
            height: 100%;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            display: flex;
            width: 99%;

            // position: relative;
            .create-ticket-file-upload-field {
                border: 1px dashed $color-lightGray;
                border-radius: 10px;
                height: 100%;
            }
        }

        .create-ticket-file-attach-button {
            height: 100%;
            background: url('../../../../../assets/create-habit/Group 11382.svg');
            background-repeat: no-repeat;
            background-size: 25px 25px;
            background-position: 50% 20%;
            padding: 0px !important;
            cursor: pointer;
            position: relative;
            width: 100%;
            min-width: 100%;
            // display: flex;
            // align-items: center;
            // justify-content: center;

            .MuiButton-label {
                width: 100%;
                display: flex !important;
                align-items: center !important;
                justify-content: center !important;
                /* margin: 0 auto; */
                height: 100%;

                .drag-attach-text {
                    font-display: 0.9rem;
                    color: $color-lightGray;
                    font-weight: 300;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.14;
                    letter-spacing: normal;
                    text-align: center;
                    text-transform: none;
                    position: absolute;
                    margin-top: 10px;

                    span {
                        color: $color-skyBlue;
                    }
                }
            }
        }
    }
}


//   .create-ticket-attachment>.span:nth-child(2) {
//     color: blue;
//   }

.file-attach-full-width {
    width: 100%;
}

.file-upload-after-width {
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5% 5px 0% 5px;
}

.custom-attach-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(4.8em + .45rem + 0px);
    margin: 0;
    opacity: 0;
}

.dprtmt-and-team-name{
    width:60%;
    margin: 3% 36% 0% 4%;
    .deprt-name{
        font-size: rem(14px);
        color: $color-lightGray;
        padding-left: 5px; 
    }
    .tm-name{
        font-size: rem(14px);
        padding-left: 5px; 
        color: $color-lightGray;
        border-left: 1px solid $color-lightGray;
    }
}


.crte-tckt-drawer-company-details-edit {
    // padding-right: 15px;
    width: 10%;
    display: flex;
    margin: 3%;
    // border: 1px solid red;
    img{
        // width:%;
        // margin: 4%;
    }
   
}

.snd-cpy-check-box {
    width: 80%;
    margin: 0% 10% 2.7vh 10%;
    z-index: -5;

    .snd-cpy{
        font-size: rem(22px);
        color: $color-lightGray;
    }

    .MuiIconButton-colorPrimary {
        color: $color-violet!important;
        width: 10% !important;
        .MuiIconButton-label{
            .MuiSvgIcon-root{
                width: 60%;
                height: 3vh;
            }
        }
    }
    span{
        
        color:$color-strongPurple;
    }
}

hr{
    width: 90%;
    margin: 1% 9% 1% 2%!important;
}