@import '../../../variables';
/*----------------------Media Query---------------------*/
 
/*    Device = Most of the Smartphones Mobiles (Portrait)  Screen = B/w 320px to 479px  */
@media (min-width: 320px) and (max-width: 480px) {
    .onboarding-logo {
        height: 65.5%;
        width: 7%;
    }
    .onboarding-more-icon {
        height: 19.3%;
        width: 6%;
    }
}


/* Device = Low Resolution Tablets, Mobiles (Landscape) Screen = B/w 481px to 767px */
@media (min-width: 481px) and (max-width: 767px) {
    .onboarding-logo {
        height: 65.5%;
        width: 7%;
    }
    .onboarding-more-icon {
        height: 19.3%;
        width: 6%;
    }
}


/* Device = Tablets, Ipads (landscape) Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .onboarding-logo {
        height: 65.5%;
        width: 4%;
    }
    .onboarding-more-icon {
        height: 19.3%;
        width: 6%;
    }
}

/* Device = Tablets, Ipads (portrait) ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
    .onboarding-logo {
        height: 65.5%;
        width: 4.5%;
    }
    .onboarding-more-icon {
        height: 19.3%;
        width: 6%;
    }
}


/* Device = Laptops, Desktops Screen = B/w 1025px to 1280px */
@media (min-width: 1025px) and (max-width: 1280px) {
    .onboarding-logo {
        height: 65.5%;
        width: 3%;
    }
    .onboarding-more-icon {
        height: 19.3%;
        width: 6%;
    }
}


/* Device = Desktops Screen = 1281px to higher resolution desktops */
@media (min-width: 1281px) and (max-width: 1600px) {
    .onboarding-logo {
        height: 65.5%;
        width: 2%;
    }
    .onboarding-more-icon {
        height: 19.3%;
        width: 6%;
    }
}


@media (min-width: 1601px) and (max-width: 1919px) {
    .onboarding-logo {
        height: 65.5%;
        width: 2.5%;
    }
}

@media (min-width: 1920px) {
    .onboarding-logo {
        height: 65.5%;
        width: 2.1%;
    }
}

/*----------------------Media Query---------------------*/

.on-boarding-header {
    height: 7.4%;
    .MuiPaper-root {
        height: 100%;
        .MuiToolbar-root {
            height: 100%; 
            display: flex;
            justify-content: space-between;

            // .onboarding-logo {
            //     height: 65.5%;
            //     width: 2.1%;
            // }
            .onboarding-more-icon {
                height: 19.3%;
                max-width: 17px;
            }
         }  
    }
    .MuiAppBar-colorPrimary {
        background-color: $color-lightWhite;
        box-shadow: none;
        .MuiToolbar-dense {
            min-height: auto;
        }
    }
}