@import '../../../variables';

.tasks-list-body-container {
    width: 100%;
    height: auto;
}

.tasks-list-overall-body {
    .row {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
}


.tasks-list-body-container {
    .col-sm-3 {
        padding-right: 0px;
        padding-left: 0px;
        border-right: 1px solid $color-lightWhite;
    }

    .col-sm-9 {
        padding-right: 0px;
        padding-left: 0px;
    }
}

p {
    margin: 0;
    padding: 0;
}

.tasks-list-contianer {
    margin-top: 0%;
    // height: 90vh;
    // padding-top: 5px;
    // padding-left: 5px;
}

.tasks-list-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px 10px;
}

.tasks-list-heading {
    span {
        font-size: 1.3rem;
        font-weight: 300;
    }
}


.tasks-list-task {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px 4px;
}

.tasks-list-left-section {
    display: flex;
    align-items: center;
    min-width: 74%;
    transition: 0.5s;

}

.tasks-list-left-section {
    img {
        width: 14px;
        margin: 3px;
        margin-bottom: 20px;
    }
}



.icon-show-on-hover {
    width: 50%;
    margin-bottom: 15px;
}

.icon-show-on-hover {
    i {
        color: $color-lightGray !important;
    }
}

.icon-show-on-hover {
    img {
        margin: 0px 4px;
    }
}


.tasks-list-task-name {
    color: $color-thickGray;
    font-size: 1rem;
    padding-left: 5px;
    margin-bottom: 0px !important;
}

.tasks-list-time {

    font-size: 0.6rem;
    color: $color-lightGray;
    padding-left: 5px;
}

.tasks-list-due-days {

    font-size: 0.6rem;
    color: $color-lightPink;
    padding-left: 5px;
}

.tasks-list-seviarity {
    border-radius: 9px;
    font-size: 0.6rem;
    color: $color-white;
    padding: 2px 10px;
    box-sizing: border-box;
    margin-right: 3px;
    margin-bottom: 15px;
}

.risk {
    background-color: $color-snowFlurry;
}

.tasks-list-customer-type {
    background-color: $color-lightPink;
    border-radius: 9px;
    font-size: 0.6rem;
    color: $color-white;
    padding: 2px;
    box-sizing: border-box;
    margin-right: 0px;
    text-align: center;
    width: 16%;
    margin-bottom: 15px;
}


.phase1 {
    background-color: $color-orange;
}

.tasks-list-right-section {
    display: flex;
    align-items: center;
    min-width: 23%;
    margin-bottom: 15px;
}


.tasks-list-right-section>img {
    width: 15px;
    margin-left: 15px;

}

.tasks-list-avathar {
    height: 20px;
    width: 20px;
    border-radius: 100px;
}

.tasks-list-avathar>img {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    vertical-align: baseline;
}

.tasks-list-countdown-button-one {
    background-color: transparent !important;
    height: 20px !important;
    width: 75px !important;
    box-shadow: none !important;
    display: flex !important;
    align-items: center !important;
    color: $color-thickGray !important;
}

.gray {
    border: 1px solid $color-lightGray !important;
}

.blue-border {
    border: 1px solid $color-thinBlue !important;
    background-color: transparent !important;
    color: $color-thickGray !important;
}

.tasks-list-countdown-button-one {
    .MuiFab-label {
        display: flex;
        align-items: center !important;
        justify-content: space-between;
        height: 20px !important;
        width: 66% !important;
        color: $color-thickGray !important;
        font-size: 0.6rem;
    }
}


.tasks-list-countdown-button-two {
    background-color: $color-lightWhite !important;
    height: 20px !important;
    width: 75px !important;
    box-shadow: none !important;
    display: flex !important;
    align-items: center !important;
    color: $color-thickGray;

    .MuiFab-label {
        display: flex;
        align-items: center !important;
        justify-content: space-between;
        height: 20px !important;
        width: 67% !important;
        color: $color-thickGray !important;
        font-size: 9px;
        font-weight: bolder;
    }
}

.red-border {
    border: 1px solid $color-red !important;
    background-color: $color-lightWhite !important;
    color: $color-thickGray !important;
}

.tasks-list-countdown-timer-icon {
    color: $color-light-green;
}

.tasks-list-star-rating {
    i {
        font-size: 0.8rem;
        cursor: pointer;
    }
}


.tasks-list-clicl-more-button {
    display: flex;
    align-items: center;

    img {
        height: 17px;
        margin: 0 8px 0 16px;
        vertical-align: baseline;
    }
}

// .tasks-list-clicl-more-button > img {
//     height: 17px;
//     margin: 0 8px 0 16px;
//     vertical-align: baseline;
// }

.tasks-list-heading-right {
    display: flex;

    .MuiButton-root {
        min-width: 45px;

        .MuiButton-label {
            img {
                width: 25px;
            }
        }
    }

    .MuiButton-root:hover {
        background-color: $color-white !important;
    }
}


.tasks-list-status-section {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .tasks-list-status {
        width: 50%;
        margin-left: 2%;

        p {
            margin-bottom: 0px;
            font-size: 13px;
            font-weight: 450;
            color: $color-thickGray;
        }
    }
}



.tasks-list-estimated-actual {
    margin-right: 3%;
    display: flex;

    p {
        padding-right: 50px;
        margin-bottom: 0px;
        font-size: 13px;
        font-weight: 450;
        color: $color-thickGray;
    }
}


.tasks-list-task-name-and-time-section {
    width: 47%;
}

.tasks-list-time-section {
    display: flex;
}

.tasks-list-hover-icons{
    width: 20px;
    margin-left: 2px;
    // border-radius: 10px;
    img{
        height: 15px;
        border-radius: 10px;
        margin-left: 10px;
    }
}

// .tasks-list-hover-icons> img{
//     height: 20px;
//     border-radius: 10px;
//     margin-left: 10px;
// }

.tasks-list-hover-images{
    height: 18px;
    border-radius: 10px;
    margin-left: 10px;
}

.tasks-list-actual-timer {
    width: 30%;
    margin-left: 8%;

    .MuiFab-extended.MuiFab-sizeSmall {
        width: 89%;
        margin-left: 9px !important;
        padding: 0px !important;
    }

    .MuiFab-extended {
        padding: 0px;
    }

    .MuiFab-root {
        font-weight: 200;
        font-size: 10px;
        letter-spacing: 0px;
    }

    .tasks-list-countdown-button-two {
        .MuiFab-label {
            img {
                width: 6px;
                margin-bottom: 2px;
                margin: 0px 2px;
            }
        }

    }
}


.tasks-list-estimate-timer {
    width: 35%;

    .MuiFab-extended.MuiFab-sizeSmall {
        width: 89%;
        margin-left: 15px !important;
        padding: 0px !important;
    }

    .MuiFab-extended {
        padding: 0px;
    }

    .MuiFab-root {
        font-weight: 200;
        font-size: 10px;
        letter-spacing: 0px;
    }
}



//////////////////////////Task List PopUp////////////////////
.task-list-menu {
    background-color: transparent !important;
    width: 36px !important;
    height: 20px !important;
    box-shadow: none !important;
    position: relative;

}



.task-list-popup {
    width: 215px;
    height: auto;
    z-index: 1000;
    background-color: $color-white;
    box-shadow: 0px 3px 12px;
    border-radius: 15px;
    opacity: 1;
    position: absolute;
    top: -25px;
    right: 25px;
    margin: 10px;
}


.task-list-popup:after {
    position: absolute;
    right: -17px;
    top: 23px;
    width: 0;
    height: 0;
    content: '';
    border-left: 10px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 10px solid $color-white;
}

.task-list-popup {
    ul {
        list-style: none;
        padding: 0;
        margin: 20px 0;
        text-transform: capitalize !important;

        li {
            color: $color-dimGray;
            text-align: left;
            margin: 5px 0;

            i {
                margin: 0 10px;
            }
        }
    }

}


.tasks-list-icon {
    img {
        width: 15px;
        margin: 5px 10px;
    }

}

.tomorrow-task-list-popup {
    width: 215px;
    height: auto;
    z-index: 1000;
    background-color: $color-white;
    box-shadow: 0px 3px 12px;
    border-radius: 15px;
    opacity: 1;
    position: absolute;
    top: -360px;
    right: 25px;
    margin: 10px;

    ul {
        list-style: none;
        padding: 0;
        margin: 20px 0;
        text-transform: capitalize !important;

        li {
            color: $color-dimGray;
            text-align: left;
            margin: 5px 0;

            i {
                margin: 0 10px;

            }
        }
    }
}

.tomorrow-task-list-popup:after {
    position: absolute;
    right: -17px;
    top: 360px;
    width: 0;
    height: 0;
    content: '';
    border-left: 10px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 10px solid $color-white;
}





.today-task-list-popup {
    width: 215px;
    height: auto;
    z-index: 1000;
    background-color: $color-white;
    box-shadow: 0px 3px 12px;
    border-radius: 15px;
    opacity: 1;
    position: absolute;
    top: -230px;
    right: 25px;
    margin: 10px;

    ul {
        list-style: none;
        padding: 0;
        margin: 20px 0;
        text-transform: capitalize !important;

        li {
            color: $color-dimGray;
            text-align: left;
            margin: 5px 0;

            i {
                margin: 0 10px;

            }
        }
    }
}

.today-task-list-popup:after {
    position: absolute;
    right: -17px;
    top: 230px;
    width: 0;
    height: 0;
    content: '';
    border-left: 10px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 10px solid $color-white;
}






.tasks-button-popup-for-one::after {
    position: absolute;
    right: 0px;
    top: 50px;
    width: 11px;
    height: 0px;
    content: '';
    border-left: 0px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $color-darkWhite;
    // box-shadow: 5px 5px $color-darkWhite;
}

.tasks-button-popup-one {
    position: absolute;
    padding: 15px;
    bottom: 500px;
    left: 600px;
    height: 260px;
    width: 30%;
    border-radius: 10px;
    z-index: 1000;
    overflow: auto;
    background: $color-white;
    box-shadow: 0 0 15px $color-lightWeightGray;
    opacity: 1;
}

.tasks-list-company-details {
    width: 20%;
    // border: 1px dashed #7AC9FF;
    // margin: 10% auto;
    margin: 3% auto;
    border-radius: 8px;
    position: absolute;
    padding: 15px;
    bottom: 20px;
    left: 600px;
    height: auto;
    border-radius: 10px;
    z-index: 1000;
    overflow: auto;
    background: $color-white;
    box-shadow: 0 0 15px $color-lightWeightGray;
    opacity: 1;
}

.tasks-list-company-description {
    margin-top: 3%;
    margin-left: 3%;
    display: flex;

    img {
        width: 14%;
    }
}


.tasks-list-company-text {
    width: 80%;

    p {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        margin-left: 5px !important;
    }
}

.tasks-list-company-text-one {
    font-size: 14px;
    font-weight: bolder;
    color: $color-thickGray;
}

.tasks-list-company-text-two {
    color: $color-lightGray;
    font-size: 14px;
}

.tasks-list-department-and-team-name {
    display: flex;

    p {
        margin-bottom: 0px !important;
        margin-left: 5px !important;
        color: $color-lightGray;
        font-size: 10px;
    }
}


.tasks-list-team-name {
    border-left: 1px solid $color-lightGray;
    padding-left: 15px;
}

.tasks-list-project-name {
    font-size: 10px;
    color: $color-skyBlue;
    margin-left: 5px;
}

.tasks-list-field {
    width: 100%;
    height: 30px;

    .MuiFormControl-root {
        width: 100%;

        .MuiInputLabel-formControl {
            top: -11px;
            left: 11px;
            color: $color-thickGray;
            font-size: 15px;
        }

        .tasks-list-assign-to-menu-item {
            .MuiInput-underline:hover:not(.Mui-disabled):before {
                border-bottom: none !important;
            }

            .MuiInput-underline:before {
                border-bottom: none;
            }

            .MuiInput-underline:after {
                border-bottom: none;
            }

            .MuiInputBase-root {
                border: 1px solid $color-lightGray;
                width: 100%;
                height: 40px;
                border-radius: 20px;
            }
        }
    }
}

.tasks-list-assign-to-menu-item {
    .MuiInputBase-root {
        width: 100%;
        border: 1px solid $color-darkGray;
        border-radius: 20px;

        .MuiSelect-root {
            img {
                width: 30px;
                height: 30px;
                border-radius: 15px;
                margin-right: 5px;
                margin-top: 4px;
                margin-left: 5px;
            }
        }
    }

    .MuiInput-underline:before {
        border-bottom: none !important;
    }

    .MuiInput-underline:hover {
        border-bottom: none !important;
    }
}

.tasks-list-field {
    .MuiFormControl-root:hover {
        border-bottom: none !important;
    }
}

.task-list-menu-list-name {
    p {
        font-size: 10px;
        margin-bottom: 0px;
        margin-left: 5px;
    }
}

.tasks-list-menu-list {
    img {
        width: 20px;
        border-radius: 10px;
    }
}

.tasks-list-assign-to-menu-item {
    .MuiInput-root {
        .MuiSelect-selectMenu {
            display: flex;
        }

        .MuiInputBase-input {
            padding: 0px !important;
        }
    }
}


button:focus {
    outline: 0px !important;
}


.tasks-list-name-time {
    width: 28%;
    padding: 15px;
    width: 100%;
    top: 50px;
    right: -110px;
    height: auto;
    border-radius: 10px;
    z-index: 1000;
    overflow: auto;
    background: $color-white;
    box-shadow: 0 0 15px $color-lightWeightGray;
    opacity: 1;

}



.tasks-list-task-name-hover {
    display: none;
    width: 28%;
    margin: 10% auto;
    border-radius: 8px;
    position: absolute;
    top: -260px;
    right: 500px;
    height: auto;
    border-radius: 10px;
    z-index: 1000;
    overflow: auto;
    background: $color-white;
    box-shadow: 0 0 15px $color-lightWeightGray;
    opacity: 1;
}

.tasks-list-task-name-and-time-section:hover+.tasks-list-task-name-hover {
    display: block;
}

.tasks-list-name-display {
    display: flex;
    justify-content: space-between;

    .MuiButton-root {
        width: 35%;
        height: 25px;
        border: 1px solid $color-lightWhite;
        border-radius: 20px;
    }
}

.tasks-list-name {
    font-size: 12px;
    color: $color-thickGray;
    margin-bottom: 0px;
}

.tasks-list-date {
    font-size: 10px;
    color: $color-lightGray;
}

.tasks-list-critical-button {
    padding: 0px !important;
    font-size: 10px;
    border: 1px solid;

    .MuiButton-label {
        font-size: 10px;
    }

}

.tasks-list-status-progress {
    display: flex;
    justify-content: space-between;

    .MuiButton-root {
        border: 1px solid $color-lightGray;
        height: 25px;
        border-radius: 14px;
    }
}

.status-in-progress {
    font-size: 12px;
    color: $color-thickGray;

    span {
        color: $color-skyBlue;
    }
}

.tasks-list-status-percentage {
    padding: 0px !important;
    font-size: 10px;

    .MuiButton-root {
        height: 25px;
        border: 1px solid;
    }

    .MuiButton-label {
        font-size: 12px;
    }
}

.tasks-list-tags {
    display: flex;
}

.tasks-list-tags-text {
    font-size: 12px;
    color: $color-thickGray;
    width: 20%;
}

.tasks-list-tags-section {
    width: 75%;
}

.risk-critical-server {
    display: flex;
    justify-content: space-between;

    p {
        margin-bottom: 4px;
        font-size: 10px;
        text-align: center;
    }

    .tasks-list-risk {
        width: 20%;
        border-radius: 10px;
        background-color: $color-skyBlue;
    }

    .tasks-list-critical {
        width: 50%;
        border-radius: 10px;
        background-color: $color-lightPink;
    }

    .tasks-list-server {
        width: 20%;
        border-radius: 10px;
        background-color: $color-skyBlue;
    }
}

.phase-technical {
    display: flex;

    p {
        margin-bottom: 0px;
        font-size: 10px;
        text-align: center;
    }

    .tasks-list-phase {
        width: 30%;
        border-radius: 10px;
        background-color: $color-orange;
        margin-right: 5px;
    }

    .tasks-list-technical {
        width: 30%;
        border-radius: 10px;
        background-color: $color-mediumAquarium;
    }
}