%d-flex {
  display: flex;
}
%d-flex-align-center {
  @extend %d-flex;
  align-items: center;
}
%d-flex-space-btwn {
  @extend %d-flex;
  justify-content: space-between;
}
%d-flex-align-justify-center {
  @extend %d-flex-align-center;
  justify-content: center;
}
%d-flex-align-center-space-btwn {
  @extend %d-flex-align-center;
  justify-content: space-between;
}
%d-flex-column {
  @extend %d-flex;
  flex-direction: column;
}
%dropdown-box-shadow{
  box-shadow: 0 3px 12px 0 #d2d2d2;
}
